@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";



/* 

####################################################### 
################# Start of my CSS #####################
####################################################### 

*/


$headingFont: 'Michroma', Verdana, Arial,  sans-serif;
$bodyFont: 'Questrial', Verdana, Arial,  sans-serif;
$borderColor: black;

img {max-width:100%} /* for responsive images */

footer {
  clear:both;
	margin: 88px 0 0 0;
}

footer img {
 max-width: 18px !important;
 margin: 0 2px -5px 5px;
}

footer p{
  display:inline;
	font-family: $bodyFont;
	font-size: 12px;
}

footer p.copyright {
  float:right;
}
#content{  
  margin: 0px auto;
}

.accessibility, .hideForm, .hidden{
	display:none;
}

.clear {
 clear:both;
}


h1, h2, h3, h4, h5, h6, li a p {
	font-family: $headingFont;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:900;
}

html #page p {
	font-family: $bodyFont;
}

a {
  text-decoration: none; /*Lose underlining on links to make grid easier to see*/
}


/*
########################################
########### For Baselind Grid ##########
########################################
*/

.t22 {
  font-size: 14px;
  line-height: 22px;
  background-image: url('img/22px-baseline.png');
}



.g978 #page {
  width: 300px; /*Total width works out to 312px*/
  padding: 0px 6px 0px 6px;
  background-image: url('img/300px-6-27-6-8c.png');
}


@media screen and (min-width: 760px) {
  .g978 #page {
		width: 748px; /*Total width works out to 768px*/
		padding: 0px 10px 0px 10px;
		background-image: url('img/748px-10-44-10-12c.png');
	}

}

@media screen and (min-width: 1010px) {

	#homePage header {
		clear:both;
		position: absolute;
		width: 978px;
		margin: 264px 0 0 0;
		padding: 19px 0;
		background-color:yellow;
	}
	
	header h1 {
		font-size:44px;
		display:inline;
		float:left;
		letter-spacing: 6px;
	}
	
	p {
		font-size: 14px;
	}
	
	header p {
		font-size: 12px;
		display:inline;
		float:right;
		margin: 6px 0 0 0;
	}
	
	#homePage h2 {
		font-size: 30px;
		letter-spacing: 4px;
		margin: 0 0 14px 0;
		display:inline;
		float:left;
	}
	
	#homePage h2#libHeader {
		letter-spacing: 5px;
		float:right;
		text-align:right;
    margin: 108px 0 0 0;
	}

  .g978 #page {
    width: 978px; /*Total with works out to 1008*/
    padding: 0px 15px 0px 15px;
    background-image: url('img/978px-15-54-15-12c.png');
		margin: 0 auto;
	}

	#homePage nav#galleries ul {
		 float:left;
	}

	#homePage nav#galleries ul li{
		 display:inline;
		 float:left;
		 margin: 0 0 0 30px;
	}
	
	p#photoIntro {
		margin: 0 0 0 336px;;
	}

	nav a, nav p {
		width: 138px;
	  font-size: 18px;
		letter-spacing: 2px;
	}
		
  #homePage img {
    width: 138px;
  }
	#homePage #galleries img {
		margin-bottom: 8px;
	}

	#homePage nav#photo {
		float: left;
		margin: -196px 0 0 0;
		border-left: 2px solid $borderColor;
	}	

	#homePage nav#photo ul li, #homePage nav#lib ul li {
		margin: 0 8px;
	}	
	
	#homePage #libFigure {
		margin: 112px 0 0 0;
	}
	
	#homePage #libIntro {
		width: 558px;
		margin: -98px 0 0 168px;
	}

  #homePage nav#lib {
    float:right;
		margin: -66px 0 22px 0;
		text-align:right;
		border-right: 2px solid $borderColor;
  }
	
} /* end min-width: 1010px */


