$headingFont: 'Michroma', Verdana, Arial,  sans-serif;
$bodyFont: 'Questrial', Verdana, Arial,  sans-serif;

/* Sounds of Sax colors from colorlouvers*/
$darkGrey: #322938;
$green: #89A194;
$darkGreen: #597566;
$tan: #A39B60;
$orange: #CC883A;
$red: #A14016;
$white: #FAF9F5;

/* Generic references used in the other files */

$textBackground: $white;
$bodyFontColor: $darkGrey;
$backgroundColor: $green;

$headerBackground: $orange;
$headerFontColor: $white;
$homePageHeader: $headerBackground;
$homePageBorder: $green;
$homePageNavBorder: $green;

$headingMain: $red;
$headingSub: $darkGreen;

$textShadowColor: $darkGrey;
$strongColor: $orange;
$selectBackgroundColor: $tan;
$selectBorderColor: $green;

$navBasicColor: $darkGrey;
$navInactiveColor: $tan;
$textHoverColor: $red;
$navHighlightColor: $red;
$linkColor1: $red;
