$headingFont: 'Michroma', Verdana, Arial,  sans-serif;
$bodyFont: 'Questrial', Verdana, Arial,  sans-serif;

/* Hoot colors from Kuler */
$teal: #5DA69E; /* RGB 93 166 158 */
$lightTeal: #B0D9D5; /* RGB 176 217 213 */
$orange: #F28705; /* RGB 242 135 5 */
$offWhite: #f2f2f2; /* RGB 242 242 242 */
$darkGrey: #262626; /* RGB 38 38 38 */
$medGrey: #575757; /* RGB 87 87 87  */
