$headingFont: 'Michroma', Verdana, Arial,  sans-serif;
$bodyFont: 'Questrial', Verdana, Arial,  sans-serif;

/* Hoot colors */
$teal: #5DA69E; /* RGB 93 166 158 */
$lightTeal: #B0D9D5; /* RGB 176 217 213 */
$orange: #F28705; /* RGB 242 135 5 */
$offWhite: #f2f2f2; /* RGB 242 242 242 */
$darkGrey: #262626; /* RGB 38 38 38 */


$backgroundLight: #FAFAFA; /* very light grey - almost white */
$backgroundDark: #4D4D4D; /* dark grey */
$dark:#424242; /* slightly darker grey */
$dark2: #ADADAD; /* medium grey */

$text: $dark;
$border: $dark2;
$photoHover: $dark;
$libHover: $dark;
$footerHover: $dark;
