/* 

####################################################### 
For new CSS3 elements that don't yet validate correctly
because they are still in development
####################################################### 

*/
@import "compass/css3";
@import "_colors_and_fonts.scss";

$radius: 10px;

#homePage img, header, .page, select, #homePage nav#photo li a, #homePage nav#lib li a{
	@include border-radius($radius);
}

a:hover, #galleries li :hover, header, #mainNav li:hover {
	text: $textHoverColor;
  text-shadow: 4px 4px 8px $textShadowColor;
  filter: dropshadow(color=$textShadowColor, offx=4, offy=4);
	border:none;
}