/* 

####################################################### 
For new CSS3 elements that don't yet validate correctly
because they are still in development
####################################################### 

*/
@import "compass/css3";
@import "_colors_and_fonts.scss";

$radius: 10px;

#homePage img, header, .page {
	@include border-radius($radius);
}

a:hover, #galleries li :hover, header {
  text: $darkGrey;
  text-shadow: 4px 4px 8px $darkGrey;
  filter: dropshadow(color=$darkGrey, offx=4, offy=4);
	border:none;
}