$lineHeight: 22px;
$fontSize: 14px;
/* don't need when merge into other file */

#photoNav.navList, #libNav.navList, #mainNav.navList  { display: none; }
	/* change to mobile nav */
  nav select { 
		display: inline-block; 
		float:left;
		width: 25%;
		margin: 0 0 $lineHeight 20%;
	}


@media screen and (min-width: 1008px) {

/* *****   Check out right after section or orig file  -- extra brace? */

/* change to desktop nav */
  nav select {  display: none; }

	nav {
		.activeMain {color:blue;}
		.activeSub a {color:red;} /* change later, obvs. */
		width: 876px; /* using fixed width because it stretches too much otherwise */
		margin: 0 auto;
		li {cursor:pointer;}
		
	}
	
	#mainNav.navList {
		display:block;
		float:left;
		margin-top:$lineHeight;
		li {
			clear:both;
			font-size: $fontSize+2;
			margin:0 20px 0 0; /*20/876*/
		}
		li:last-child {margin-bottom: $lineHeight*2;}
	}
	#resume, #portfolio, #lab, #contactLib {
		#libNav.navList {display:inline-block;}
	}
	#about, #pricing, #art, #portraits, #events, #travel, #contactPhoto {
		#photoNav.navList {display:inline-block;}
	}

	#photoNav, #libNav {
		width: 748px; 
		float:right;
		li {
			text-align:center;
			width: 106px;
			float:left;
		}
	}

	#photoNav {
		li{
			margin: $lineHeight 0 0 0;
		}
	}

	#libNav {
		li{
			margin: $lineHeight*2 13% 0 0;
		}
		li:last-child{
			margin: $lineHeight*2 0 0 0;
		}
	}
	
	
} /* *** end min-width: 1008 *** */




