@import "_base.scss";

nav {
	display:none;
}

#homePage nav {
	display:block;
}

a:link, a:visited {
	color:#000;
	text-decoration:underline;
}

.ps-document-overlay, .ps-uilayer, .ps-toolbar, .ps-caption {
	display:none;
}