@import "_base.scss";


body {
	color:$text;
}

a {
	color:green;
}

strong {
	color:red;
}

em {
	color:blue;
}


a:hover{
	font-weight: 900;
}



@media screen and (max-width: 1008px){ /* need this to make navigation display properly */
	#photoNav.navList, #libNav.navList, #mainNav.navList  { display: none !important; }
	/* change to mobile nav */
  nav select { 
		display: inline-block; 
		float:left;
		width: 25%;
		margin: 0 0 $lineHeight 20%;
	}
}

/*   ************ MOBILE / GENERIC SETTINGS ***********     */

.page {
  width: 90%;
  margin: 0 auto;
  padding: 20px 10px;
	/*background:$backgroundLight;*/
}

p {
	margin: 0 0 $lineHeight 0;
}
header, #homePage h2, #homePage h3 {
	clear:both;
/*	background: $backgroundDark; */
  text-align:center;
	a {
		color: #FFF;
	}
	a:hover{
		font-weight:normal;
	}
}

h1 {
	clear:both;
  font-size: $fontSize+6;
  margin: $lineHeight 0 $lineHeight 0;
}

header p {
	font-size: 12px;
  margin: 0 0 34px 0;
}

h2 {
	clear:both;
  font-size: $fontSize+2;
	margin: $lineHeight 0 $lineHeight 0;
}

#art img.floatLeft, #about img.floatLeft {
	width: 40%;
	margin: $lineHeight;
}

#events, #travel {
	h2{
		margin: $lineHeight*2 0 0 0;
	}
}


#galleries ul {
	p {margin:0;}
	li {
	font-size: 12px;
	width: 20%;
	margin: 0 0 0 6%;
	float:left;
	text-align:center;
	}
 li:first-child {
		margin:0;
	}
}

#photoIntro {
	clear:both;
	margin: 134px 0 $lineHeight 0;
}

nav#photo, nav#lib {
	clear:both;
	li {
		font-size: $fontSize;
		float: left;
		width: 30%;
		margin: 0 0 $lineHeight*2 5%;
		text-align:center;
		 a {
				padding: 6px 12px;
				background: #ccc;
		 }
	}
	 li:first-child {
		margin:0;
	}
}
	
nav#lib {
	li {
		font-size:11px;
		width: 20%;
		margin: 0 0 $lineHeight*2 6%;
		 a {
				padding: 6px 8px;
		 }
	}
	li:first-child {
		margin:0;
	}
}
#libFigure {
	width: 20%;
	margin: 0 6% 0 0;
	float:left;
}

#libIntro {
	margin: 0 0 $lineHeight*2 0;
}

#seriesPortals{
	margin: $lineHeight 0 $lineHeight 06.5439672801636%;
	clear:both; /* otherwise floats into image */
	h2 {
		margin: $lineHeight 0 0 0;
	}
}	
	
#contact {
	section p {
		margin: 0 0 $lineHeight 0;
	}
	.formContainer{ /* make form widths static */
		width: 100%;
		margin: 0;
	}
	input{
		margin: 0 0 $lineHeight 0;
		clera:both;
		width: 100%;
	}
	#message {
		clear:both;
		width: 100%;
		height: $lineHeight*4;
		margin-bottom: $lineHeight;
	}
	input.button{
		cursor:pointer;
		width: 100%;
		height: $lineHeight;
		padding:5px 10px 23px 10px;
	}
	
}

footer {
	clear:both;
	p {
		display:block;
		text-align: center;
	}
}

@media screen and (min-width: 760px) {

  .page {
		width: 748px; /*Total width works out to 768px*/	
		/* for columns */
		padding: 0px 10px 0px 10px;
	  background-image: url('img/748px-10-44-10-12c.png'); 
	}
	
	section H1.top  {
		margin-top:$lineHeight*4;
	}

	#about, #art {
		h2 + h3 + h4 {
			margin-bottom: $lineHeight;
		}
		p.floatLeft {
			/* 870 / 978 = 88.9570552147239% */
			width: 65.6441717791411%;
			margin: 0 4% $lineHeight*2 0;
		}
		p.floatLeft + p.floatLeft {
			margin-top: -$lineHeight;
		}		
		img.floatLeft {
			/* 222 / 978*/
			width: 22.6993865030675%;
			margin: 0 0 0 2%;
		}
		p.floatLeft + img {
			margin-top: -$lineHeight*2;
		}
		p.floatLeft + p.floatLeft +img{
			margin-top: -$lineHeight*9;
		}
	}

	ul.twoColumnBlock {
			li {
				width: 43.76278118609407%;		
				float:left;
				margin: 0 8.58895705521472% $lineHeight 0; /*  20/978  64/978*/
				
				h2 {
					margin-top:0;
				}
			}
			
			li:nth-child(2n+2){
				margin-right: 0;
			}
	}
	
	ul.threeColumnBlock {
			margin-top: $lineHeight;
			li {
				width: 24.13087934560327%; /*236/978*/
				float:left;
				margin: 0 8.58895705521472% $lineHeight 0; /*  20/978  64/978*/
			}
				li:nth-child(3n+3){
				margin-right: 0;
			}			
		}

	#resume {
		h3, h3 + p {
			clear:both;
			margin: 0 02.24948875255624%; /* 22 / 978 */
		}
		ul.twoColumnBlock {
			margin: $lineHeight 08.58895705521472% $lineHeight/2 6.5439672801636%; /* 22 / 978 */
			ul li { /* sublist of responsibilities*/
					width:100%;
					clear:both;
					list-style: disc;
					margin: $lineHeight/2 0 0 5.72916666666667%; 
						/* 1/2 line spacing between bullet points left: 22 / 384 */
				 }
		 }
		 
		ul.singleList {
			margin: 0 0 0 08.58895705521472%;
			li {
				list-style: disc;
				ul li {
					list-style: circle;
					margin-left: 6.5439672801636%;
				}
			}
		}
	}/* end resume */

	#contact {
		section p {
			width: 30.67484662576687%;
		}
		.formFeedback {			
			float:left;
		}
		.formContainer{ 
			width: 43.76278118609407%;
			margin: -$lineHeight*6 0 $lineHeight*3 39.2638036809816%;
		}
		input{
			margin: 0 0 $lineHeight 0;
			float:left;
			width: 40.18691588785047%; /* 172 / 428*/
		}
		input#email{
			float:right;
			margin: -$lineHeight*2 0 0 19.62616822429907%;
		}
		input.button{
			width: 25.23364485981308%;
		}
	}
	
	
}/* min-width: 760px */

@media screen and (min-width: 1008px) {

/* change to desktop nav */
  nav select {  display: none; }

	body{
		margin: $lineHeight*2 0 0 0;
/*    background:  $backgroundLight url('/img/scrollLight.png');  */
	}

  .page {
    /* width: 978px; */ /*Total with works out to 1008, but need more for padding*/
/*		background: #fff; */
		width: 86%; 
		padding: $lineHeight 10px $lineHeight 10px; /* pad more right and left later */

		header {
			overflow: auto;
			width: 100%;
			margin: 0 auto;
			/*width: 978px; */
			background: $backgroundDark  url('/img/scrollDark.png');  
			color:#fff;

			h1 {
				font-size: $lineHeight*1.7;
				display:inline;
				float:left;
				letter-spacing: 4px;
				/*margin: 0 0 0 54px;*/
				margin: 0 0 0 2%;
				padding: 20px 0 24px 0;
			}

			p {
				display:inline;
				float:right;
				font-size: 12px;
				margin: 24px 2% 0 0;
			}
		} /* end header */



		section {
			margin: $lineHeight*2 0 0 0;
		}
		
	}


	#homePage {
		
		header {
			width: 86%;
			position: absolute;
			margin: $lineHeight*12 0 0 0;
		} /* end header */


		h2 {
				/*width: 306px / 978px;*/
				width: 31.28834355828221%;
				font-size: 30px;
				letter-spacing: 3px;
				margin: 0 0 $lineHeight 0;
				display:inline;
				float:left;
				text-align:left;
		}

		p {
			font-size: $fontSize;
		}
		p#photoIntro {
			clear:both;
			/*margin: 0 0 0 336px;*/
			margin: 176px 0 0 34.3558282208589%;
		}

		#photoHeader {
			margin: -2px 0 0 0;
		}
		#libHeader {
			position: absolute;
			letter-spacing: 5px;
			float:right;
			text-align:right;
			/* margin: 132px 37px 0 0; 
			margin: 0 3.67063492063492% 0 0;  top works better with absolute */
			top: 438px;			
			right: 7%;			
		}
		
	#galleries {
		ul {
			li{
				/*width: 138px;*/
				width: 14.11042944785276%;
				display:inline;
				float:left;
				/*margin: 0 0 2px 30px;*/
				margin: 0 0 2px 3.06748466257669%;
			}
		}	

		img {
			margin-bottom: 8px;
		}
	} /* end galleries */
	
	#libFigure {
		clear:both;
		/*width: 138px; */
		width: 14.11042944785276%; 
		margin: 150px 0 0 0; 
	}

		p#libIntro {
			/*width: 558px;*/
			width: 57.05521472392638%; 
			/*margin: -100px 0 0 168px;*/
			margin: $lineHeight*9 0 0 17.17791411042945%;
		}
			
	
		nav li, #galleries  {
			p, a {
				font-size: 16px;letter-spacing: 2px;
				background: none;
			}
		}


		nav#photo {
			position: absolute;			
			top: 110px;
			width: 14.11042944785276%;
			border-left: 2px solid $border;
			ul {
				li {
					margin: 0 8px;
				/*width: 138px;*/
					clear:both;
				}
			}
		}
		
		nav#lib {
			position: absolute;
			right: 7%;
			text-align: right;
			top: 484px;			
			border-right: 2px solid $border;
			ul li {
		 		width: 90%;
				margin: 0 8px;
				clear:both;
				text-align: right;
			}	
		}	

				
	} /* end homePage*/


	footer {
		clear:both;
		margin: $lineHeight*2 0 0 0;
		p {
			width: 40%;
			display:inline;
			font-family: $bodyFont;
			font-size: 12px;
			a {	font-weight: 900;	}
		}
	
		p.copyright {
			width: 40%; /* width keeps this line from popping down */
			display:inline;
			float:right;
			text-align:right;
		}			
		
	} /* end footer*/
			

	
} /* *** end min-width: 1008 *** */

/* Since using absolute positioning, handle those elements as screen width grows */

@media screen and (min-width: 1100px) {


	header{
		h1{
			font-size: $lineHeight*2;
			margin: 0 0 0 4%;			
		}
		p{
				margin: 24px 4% 0 0;
		}
	}			


	#homePage {
		header{
			margin: $lineHeight*13 0 0 0;
		}	
		#libIntro {
			margin: -114px 0 0 17.17791411042945%;
		}			

		footer {
			margin: $lineHeight*3 0 0 0;
		}
	}		
}


@media screen and (min-width: 1238px) { /* where photoIntro goes to two lines */
	#homePage {
		p#photoIntro {
		margin: 198px 0 0 34.3558282208589%;
		}

		#libIntro {
			margin: -106px 0 0 17.17791411042945%;
		}
		footer {
			margin: $lineHeight*4 0 0 0;
		}
	}
}




@media screen and (min-width: 1300px) {
	#homePage {
		#libIntro {
			margin: -118px 0 0 17.17791411042945%;
		}
		#libHeader {
			top: 460px;
		}
		nav#lib {
			top: 506px;			
		}
	}
}

@media screen and (min-width: 1400px) {

	header{
		p {
			font-size: 14px;
			margin: 22px 4% 0 0;
		}
	}


	#homePage {
		header{
			margin: $lineHeight*14 0 0 0;
		}
		#libHeader {
			top: 482px;
		}
		nav#lib {
			top: 528px;			
		}
		footer {
			margin: $lineHeight*5 0 0 0;
		}
	}
	
	
}

@import "nav.scss";