@import "_base.scss";



body, a {
	color:$text;
}

@media screen and (min-width: 760px) {
  #page {
		width: 748px; /*Total width works out to 768px*/
		padding: 0px 10px 0px 10px;
		/*background-image: url('img/748px-10-44-10-12c.png');*/
	}

}

@media screen and (min-width: 1010px) {

	body{
		margin: 44px 0 0 0;
    background:  $backgroundLight url('/img/scrollLight.png');
	}


  #page {
    /* width: 978px; Total with works out to 1008*/
		background: #fff;
		width: 80%;
    padding: 22px 15px 22px 15px; /* added 22px to each for background (change 15 to 37 later after grid is gone)*/
		margin: 0 auto;
	}

	#homePage {
		
		header {
			clear:both;
			position: absolute;
			/*width: 978px; */
			width: 80%;
			margin: 264px 0 0 0;
			background: $backgroundDark  url('/img/scrollDark.png');
			color:#fff;

			h1 {
				font-size:44px;
				display:inline;
				float:left;
				letter-spacing: 4px;
				/*margin: 0 0 0 54px;*/
				margin: 0 0 0 5.52147239263804%;
				padding: 20px 0 24px 0;
			}

			p {
				display:inline;
				float:right;
				font-size: 12px;
				margin: 28px 54px 0 0;
			}
		} /* end header */

		h2 {
				/*width: 306px;*/
				width: 31.28834355828221%;
				font-size: 30px;
				letter-spacing: 3px;
				margin: 0 0 22px 0;
				display:inline;
				float:left;
		}

		#photoHeader {
			margin: -6px 0 0 0;
		}
		#libHeader {
			letter-spacing: 5px;
			float:right;
			text-align:right;
			margin: 38px 0px 0 0;
		}
		
		p {
			font-size: 14px;
		}
					
		p#photoIntro {
			clear:both;
			/*margin: 0 0 0 336px;*/
			margin: 0 0 0 34.3558282208589%;
		}


	#galleries {
		ul {
			li{
				display:inline;
				float:left;
				/*margin: 0 0 2px 30px;*/
				margin: 0 0 2px 3.06748466257669%;
			}
		}	

		img {
			margin-bottom: 8px;
		}
	}
	
	#libFigure {
		/*width: 138px;*/
		width: 14.11042944785276%;
		margin: 64px 0 0 0;
	}

	#libIntro {
		/*width: 558px;*/
		width: 57.05521472392638%; 
		/*margin: -100px 0 0 168px;*/
		margin: -102px 0 0 17.17791411042945%;
	}
		
		footer {
			clear:both;
			margin: 66px 0 0 0;
		
			p {
				display:inline;
				font-family: $bodyFont;
				font-size: 12px;
			}
		
			p.copyright {
				float:right;
			}
			
		} /* end footer*/
			
		
	} /* end homePage*/
	


	nav li, #galleries  {
		li {
			/*width: 138px;*/
			width: 14.11042944785276%;
		}
		p, a {
			font-size: 16px;letter-spacing: 2px;
		}
	}

	nav#photo {
		position: relative;
  	top: -198px;
		width: 14.11042944785276%;
		ul {
				border-left: 2px solid $border;
			li {
				margin: 0 8px;
			/*width: 138px;*/
			}
		}
	}
	

	#homePage nav#lib {
		float:right;
		text-align: right;
		margin: -88px 0 22px 0;
		border-right: 2px solid $border;
		ul li {
			margin: 0 8px;
		}	
	}	
		
	a:hover{
		font-weight: 900;
	}
	

	
} /* end min-width: 1010 */

