/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 16, ../sass/screen.scss */
body {
  background: #fcf6db;
  color: #0c1b16;
}

/* line 21, ../sass/screen.scss */
div.container-fluid {
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  background: #cdd5d7;
}

/* line 30, ../sass/screen.scss */
.list-group-item {
  width: 45%;
  margin: 0 0 0 2%;
  float: left;
  background: white;
}

/* line 37, ../sass/screen.scss */
h4.btn-custom, h4.btn:hover, h4.btn:focus {
  color: white;
}

/* line 39, ../sass/screen.scss */
.btn-custom {
  background-color: #CD4104;
  border-color: #CD4104;
}

/* line 46, ../sass/screen.scss */
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #b43904;
  border-color: #9b3103;
}

/* line 61, ../sass/screen.scss */
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #CD4104;
  border-color: #CD4104;
}
