/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 20, ../sass/screen.scss */
h1, h2, h3, h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

/* line 27, ../sass/screen.scss */
h1 {
  color: #72766c;
  font-weight: 900;
  font-size: 42px;
}

/* line 28, ../sass/screen.scss */
h2 {
  color: #7d8076;
  font-weight: 900;
  font-size: 32px;
}

/* line 29, ../sass/screen.scss */
h3 {
  color: #7e9394;
  font-size: 16.8px;
}

/* line 30, ../sass/screen.scss */
h4 {
  color: #b6af98;
  font-size: 16px;
}

/* line 32, ../sass/screen.scss */
body {
  background: #6a7e7f;
  color: #2f302d;
}

/* line 37, ../sass/screen.scss */
div.container-fluid {
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  background: #969990;
  border: 4px solid #63665d;
}

/* line 45, ../sass/screen.scss */
.list-group-item {
  margin-bottom: 10px;
}

/* line 49, ../sass/screen.scss */
h2.name-header {
  margin: 20px 0 10px 0;
}

/* line 50, ../sass/screen.scss */
.row {
  margin: 20px 0;
  padding: 10px;
  background: #cfcbbc;
}

/* line 55, ../sass/screen.scss */
p.btn-custom, p.btn:hover, p.btn:focus {
  color: #efeee9;
}

/* line 57, ../sass/screen.scss */
.btn-custom {
  font-size: 13px;
  width: 100px;
  font-weight: 900;
  margin: 4px;
  background-color: #af4a50;
  border-color: #744545;
  padding: 4px 6px;
}

/* line 67, ../sass/screen.scss */
p.btn:hover {
  background-color: #7d3539;
}

/* line 72, ../sass/screen.scss */
.top {
  width: 40px;
  background-color: #c8cac5;
  border-color: #969990;
  padding: 2px 4px;
  color: #494b45;
}

/* line 80, ../sass/screen.scss */
p.top:hover {
  background-color: #969990;
}

/* line 82, ../sass/screen.scss */
.survey {
  background-color: #475555;
  border-color: #30393a;
}

/* line 87, ../sass/screen.scss */
p.survey:hover {
  background-color: #6a7e7f;
}

/* line 91, ../sass/screen.scss */
h3.winner {
  color: #af4a50;
  font-size: 24px;
}
