/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 12, ../sass/screen.scss */
body {
  background: #f2e5cf;
}

/* line 14, ../sass/screen.scss */
div.container-fluid {
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  background: #a7bfc1;
}

/* line 21, ../sass/screen.scss */
.list-group-item {
  width: 45%;
  margin: 0 0 0 2%;
  float: left;
}

/* line 27, ../sass/screen.scss */
.btn-primary {
  background-color: #6b9397;
  border-color: #40595c;
}
