@import "compass/reset";
@import "compass/css3/border-radius";

$bodyFont: 'Questrial', Verdana, Arial,  sans-serif;
$tocFont: 'Montserrat', Verdana, Arial,  sans-serif;
$headingFont: 'Rammetto One', cursive;
$normalSpacing: 1px;

// Colors
//$orange: rbg(242,146,34); // rgb color doesn't work orange -- update ruby gem
$orange: #F6921E;
$ltOrange: #fbc282;
$ltBlue: rgb(27,117,187);
$mdBlue: rgb(43,56,143);
$dkBrown: rgb(40,27,18);
$wood: rgb(240, 204, 153);
$woodTransparent: rgba(darken($wood, 30%), .3);
$woodBorder: rgba(darken($wood, 70%), .2);


.clear {clear:both;}
.hide {display:none;}
// remove default margins
h1, h2, h3, h4, p, li, a {margin:0;}

body {
  margin: 0; 
  padding: 10px 20px 20px 20px;

  background: $wood url(/images/wood.jpg); // from http://www.pixeden.com/graphic-web-backgrounds/wood-pattern-background
  background-size:contain;
  font-family: $bodyFont;
  letter-spacing: $normalSpacing;
  color: $dkBrown;
  h1, h2, h3 {
    font-family: $headingFont;
    color: $ltBlue;
  }
  h1 {color: rgba($ltBlue, .8);}
  h4 {
    font-family: $tocFont;
    font-weight:700;
    color: $mdBlue;
  }
}

blockquote {
  margin: 20px;
  padding: 10px;
  text-align: center;
  background: rgba($orange, .4);
  border: 2px solid $orange;
  font-family: $tocFont;
  font-weight: 400;
  font-size: 12px;
  @include border-radius(10px);
}

.instructions {
  background: rgba(lighten($ltBlue, 30%), .3);
  border: 2px solid rgba($ltBlue, .2);
  padding: 10px;
  @include border-radius(10px);
  margin: 20px 0;
}

ul {list-style:none;}

a {
  padding: 2px 6px;
  text-decoration:none;
}

.left, .right {
  background: url(/images/paper.png);
  img {border: 4px solid rgba($dkBrown, .3);}
}

.no-background{background:none;}

.left {
  text-align:right;
}

.right{
  text-align:left;
}


.chapter{
  img {
    width: 90%;
    margin: 2% 5% 0 5%;
    border: none;
  }
}

#rollover{
  cursor: pointer;
  width: 100px;
  font-family: $tocFont;
  font-size: 12px; // don't tie to variable
  text-align:center;
  float:left;
  padding: 4px 2px;
  border: 1px solid $dkBrown;
  background: lighten($orange, 20%);
  @include border-radius(100px);
}
img {
  max-width: 100%;
  max-height: 100%;
}


.warning {
  font-style: $tocFont;
  font-weight: bold;
  font-size: 18px;
  margin: 50px 20% 0 20%;
  border: 2px solid $dkBrown;
  padding: 10px 20px;
}

#desc{
  background: $woodTransparent;
  border: 3px solid $woodBorder;
  width: 80%;
  margin: 0 auto;
  margin-top: 20%;
  padding: 20px 10px;
  font-family:  $tocFont;
  font-weight:500;
  a {padding: 0;}
  .heading{
    width: 30%;
    display:inline-block;
    float:left;
    clear:both;
    font-weight:600;
    margin: 2px 4px;
  }
  .item{
    display:inline-block;
    float:left;
    margin: 2px 2px 4px 2px;
  }

}



// TABLE OF CONTENTS

#tocText {
  li  {
    font-family: $tocFont;
    font-weight:lighter;
    width: 100%;
    letter-spacing:4px;
    text-align:right;
  }

  a {padding: 4px 8px;}

  a:hover {
    letter-spacing: 8px;
    font-weight: 700;
  }
}

#tocImages img{
  width: 100%;
  margin: 0 auto;
}

// NAV
nav{
  width: 60%;
  margin: 0 auto;
  text-align:center;
  p{
    width: 150px;
    display: inline-block;
  }
  .nav-left{
    width: 40%;
    display:inline-block;
    float:right;
  }
  .nav-right{
    width: 40%;
    display:inline-block;
    float:left;
  }
}


// BOOKLET

// left hand side of notebook
.booklet .b-wrap-left {
  background: url(/images/notebook-left.png);
  background-size:contain;
  background-position: top right;
  background-repeat: no-repeat;
}


// right hand side of notebook
.booklet .b-wrap-right {
  background: url(/images/notebook-right.png);
  background-size:contain;
  background-position: top left;
  background-repeat: no-repeat;
}


//covers only
.booklet .b-page-1 .b-wrap-right {
  background: url(/images/cover.png);
  background-size:contain;
  background-position: top right;
  background-repeat: no-repeat;
}


.booklet .b-page-76 .b-wrap-left { // VERIFY LAST PAGE
  background: url(/images/back-cover.png);
  background-size:contain;
  background-position: top left;
  background-repeat: no-repeat;
}

// first and end pages that shouldn't look like part of the book
.booklet .b-page-0 .b-wrap-left, .booklet .b-page-77 .b-wrap-right {
  background: none;
}

.booklet .b-page-3 .b-wrap-right {
  background:url(/images/toc/toc-background.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position: top right;
}


.booklet .b-arrow-prev {
  left: -50px;
}

// RESPONSIVE SIZING

  // smallest/default layout (900px)
  $fontSize: 12px;
  p, li, h4{
    font-size: $fontSize;
  }
  p, li {margin: 0 0 10px 0;}
  h3, h4 {
    font-size: $fontSize;
    margin: 0 0 10px 0;
  }
  h2 {
    font-size: $fontSize + 2px;
    margin: 0 0 15px 0;
  }
  h1 {
    font-size: $fontSize + 8px;
    margin: 0 0 20px 0;
  }
  #desc p {font-size: $fontSize - 2px; letter-spacing:0;} // home page intro
  #tocText a {
    font-size: $fontSize - 2px;
      margin: 1px 0;
}


.left, .right {
  img {
   width: 80%;
   margin: 15px 0;
  }
  .fit{
    width: 70%;
  }
  .small {width: 55%;}
}
.left {
  margin: 10px 30px 20px 10px;
}

.right{
  margin: 10px 10px 20px 30px;
}

#text-quote{
  margin: 30px 0 0 0;
}

// BACK COVER
 #back-cover {
  padding: 10px 20px 10px 10px;;
  text-align: right;
  h1 {
    font-size: $fontSize + 4px;
    margin: 0 0 20px 0;
  }
  p{margin: 0; color: $mdBlue;}
  h4 {
    margin: 0;
    color: $orange;
  }
  blockquote.review {
    font-size: $fontSize - 1px;
    margin: 0 0 10px 0;
    padding: 2px 0 6px 0;
    text-align: right;
    border: none;
    background: none;
    font-style: italic;
  }
}