.clear {clear:both;}
.hide {display:none;}

body {margin: 0; padding: 0;}

ul {list-style:none;}

nav#main {
  li {
    top: 0;
    display: inline-block;
    float:left;
    margin: 0 0 20px 0;
    a {
      padding: 20px 10px;
    }
  }
  li:first-child {
    margin-right:100px;
  }
}

$font-size: 16px;
html {
  font-size: $font-size;
}

img {
  max-width: 400px; //make this more elegant later
}

// Import ToC file
@import 'toc';

img#portrait{
  max-height:450px;
  margin-left:15%;
}