@import "compass/reset";

$bodyFont: 'Questrial', Verdana, Arial,  sans-serif;
$tocFont: 'Montserrat', Verdana, Arial,  sans-serif;
$headingFont: 'Rammetto One', cursive;
$normalSpacing: 1px;

// Colors
$orange: rbg(246,146,30);
$ltBlue: rgb(27,117,187);
$mdBlue: rgb(43,56,143);
$dkBrown: rgb(40,27,18);
$wood: rgb(240, 204, 153);
$woodTransparent: rgba(darken($wood, 30%), .3);
$woodBorder: rgba(darken($wood, 70%), .2);




.clear {clear:both;}
.hide {display:none;}
// remove default margins
h1, h2, h3, h4, p, li, a {margin:0;}

body {
  margin: 0; 
  padding: 10px 20px 20px 20px;

  background: $wood url(/images/wood.jpg); // from http://www.pixeden.com/graphic-web-backgrounds/wood-pattern-background
  background-size:contain;
  font-family: $bodyFont;
  letter-spacing: $normalSpacing;
  color: $dkBrown;
  h1, h2, h3 {
    font-family: $headingFont;
    color: $ltBlue;
  }
  h4 {
    font-family: $tocFont;
    font-weight:700;
    color: $mdBlue;
  }


}

ul {list-style:none;}

a {
  padding: 2px 6px;
  text-decoration:none;
}

.left, .right {
  background: url(/images/paper.png);
  img {
    width: 80%;
  }
}

.no-background{background:none;}

.left {
  margin: 10px 30px 20px 10px;
  text-align:right;
  img {
    margin: 0 30px 0 0;
  }
  .fit{
    width: 70%;
    margin: 0 20% 0 0;
  }
}

.right{
  margin: 10px 10px 20px 30px;
  text-align:left;
  img {
    margin: 0 0 0 30px;
  }
  .fit{
    width: 70%;
    margin: 0 0 0 20%;
  }
}



img {
  max-width: 100%;
  max-height: 100%;
}


.chapter{
  img {
    width: 90%;
    margin: 2% 5% 0 5%;
  }
}

.warning {
  font-style: $tocFont;
  font-weight: bold;
  font-size: 18px;
  margin: 50px 20% 0 20%;
  border: 2px solid $dkBrown;
  padding: 10px 20px;
}

#desc{
  background: $woodTransparent;
  border: 3px solid $woodBorder;
  width: 80%;
  margin: 0 auto;
  margin-top: 20%;
  padding: 20px 10px;
  font-family:  $tocFont;
  font-weight:500;
  a {padding: 0;}
  .heading{
    width: 30%;
    display:inline-block;
    float:left;
    clear:both;
    font-weight:600;
    margin: 2px 4px;
  }
  .item{
    display:inline-block;
    float:left;
    margin: 2px 2px 4px 2px;
  }

}

#rollover{cursor:pointer;}


// left hand side of notebook
.booklet .b-wrap-left {
  background: url(/images/notebook-left.png);
  background-size:contain;
  background-position: top right;
  background-repeat: no-repeat;
}


// right hand side of notebook
.booklet .b-wrap-right {
  background: url(/images/notebook-right.png);
  background-size:contain;
  background-position: top left;
  background-repeat: no-repeat;
}


//covers only
.booklet .b-page-1 .b-wrap-right {
  background: url(/images/cover.png);
  background-size:contain;
  background-position: top right;
  background-repeat: no-repeat;
}


.booklet .b-page-76 .b-wrap-left { // VERIFY LAST PAGE
  background: url(/images/back-cover.png);
  background-size:contain;
  background-position: top left;
  background-repeat: no-repeat;
}

// first and end pages that shouldn't look like part of the book
.booklet .b-page-0 .b-wrap-left, .booklet .b-page-77 .b-wrap-right {
  background: none;
}

// Table of Contents rules

#tocText {
  li  {
    font-family: $tocFont;
    font-weight:lighter;
    width: 100%;
    letter-spacing:4px;
    text-align:right;
  }

  a {padding: 4px 8px;}
  
  a:hover {
    letter-spacing: 8px;
    font-weight: 700;
  }
}

#tocImages img{
  width: 100%;
  margin: 0 auto;
}



nav{
  width: 60%;
  margin: 0 auto;
  text-align:center;
  p{
    width: 150px;
    display: inline-block;
  }
  .nav-left{
    width: 40%;
    display:inline-block;
    float:right;
  }
  .nav-right{
    width: 40%;
    display:inline-block;
    float:left;
  }
}

.booklet .b-page-3 .b-wrap-right {
  background:url(/images/toc/toc-background.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position: top right;
}


.booklet .b-arrow-prev {
  left: -50px;
}

// Responsive sizes

  // smallest layout (900px)
  $fontSize: 12px;
  p, li, h4{font-size: $fontSize;}
  h3 {font-size: $fontSize;}
  h2 {font-size: $fontSize + 2px;}
  h2 {font-size: $fontSize + 4px;}
  blockquote{font-size: $fontSize + 4px;}
  #desc p {font-size: $fontSize - 2px; letter-spacing:0;} // home page intro
  #tocText a {
    font-size: $fontSize - 2px;
      margin: 1px 0;
}


