#tocText {
  a {
    display:inline-block;
    margin: 20px;
    padding: 10px;
    background:yellow;
  }
}

#tocImages {
  img {
    max-width:100%;
  }
}


.booklet .b-page-3 {
  .b-wrap-right{
    background:none;
    padding:5-px;
  }
  background:url(background.jpg);
  background-size:contain;
}

