#tocText {
  a {
    display:inline-block;
    margin: 20px;
    padding: 10px;
    background:yellow;
  }
}

#tocImages {
  img {
    width: 60%;
    position: absolute;
    filter: alpha(opacity=10);
    opacity: 0.1;    
  }

}