/* line 4, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 5, ../sass/main.scss */
.hide {
  display: none;
}

/* line 7, ../sass/main.scss */
body {
  margin: 0;
  padding: 10px 20px 20px 20px;
  background: url(/images/wood.jpg);
  background-size: contain;
  font-size: 100%;
  font-family: "Questrial", Verdana, Arial, sans-serif;
}
/* line 17, ../sass/main.scss */
body h1, body h2, body h3 {
  font-family: "Rammetto One", cursive;
}

/* line 22, ../sass/main.scss */
ul {
  list-style: none;
}

/* line 24, ../sass/main.scss */
.left, .right {
  background: url(/images/paper.png);
}
/* line 26, ../sass/main.scss */
.left img, .right img {
  width: 80%;
}

/* line 32, ../sass/main.scss */
.left {
  margin: 10px 30px 20px 10px;
}
/* line 34, ../sass/main.scss */
.left img {
  margin: 0 10% 0 0;
}
/* line 37, ../sass/main.scss */
.left .fit {
  width: 70%;
  margin: 0 20% 0 0;
}

/* line 43, ../sass/main.scss */
.right {
  margin: 10px 10px 20px 30px;
}
/* line 45, ../sass/main.scss */
.right img {
  margin: 0 0 0 10%;
}
/* line 48, ../sass/main.scss */
.right .fit {
  width: 70%;
  margin: 0 0 0 20%;
}

/* line 55, ../sass/main.scss */
nav {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
/* line 59, ../sass/main.scss */
nav a {
  padding: 2px 6px;
  text-decoration: none;
}

/* line 66, ../sass/main.scss */
html {
  font-size: 16px;
}

/* line 70, ../sass/main.scss */
img {
  max-width: 100%;
  max-height: 100%;
}

/* line 75, ../sass/main.scss */
.booklet .b-p1 .b-wrap-left, .booklet .b-p2 .b-wrap-right {
  background: none;
}

/* line 80, ../sass/main.scss */
#not-a-page {
  background: none;
}
/* line 82, ../sass/main.scss */
#not-a-page p {
  margin: 30% 20% 0 20%;
}

/* line 88, ../sass/main.scss */
.booklet .b-wrap-left {
  background: url(/images/notebook-left.png);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}

/* line 97, ../sass/main.scss */
.booklet .b-wrap-right {
  background: url(/images/notebook-right.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

/* line 106, ../sass/main.scss */
.booklet .b-page-1 .b-wrap-right {
  background: url(/images/cover.png);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}

/* line 113, ../sass/main.scss */
.booklet .b-page-60 .b-wrap-left {
  background: url(/images/back-cover.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

/* line 125, ../sass/main.scss */
#tocText a {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  background: yellow;
}

/* line 133, ../sass/main.scss */
#tocImages img {
  top: 0;
  right: 0;
}

/* line 140, ../sass/main.scss */
nav p {
  width: 150px;
  display: inline-block;
}
/* line 144, ../sass/main.scss */
nav .nav-left {
  width: 40%;
  display: inline-block;
  float: right;
}
/* line 149, ../sass/main.scss */
nav .nav-right {
  width: 40%;
  display: inline-block;
  float: left;
}

/* line 156, ../sass/main.scss */
.booklet .b-page-3 .b-wrap-right {
  background: url(/images/background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}

/* line 164, ../sass/main.scss */
.booklet .b-arrow-prev {
  left: -50px;
}
