/* line 17, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 22, ../sass/main.scss */
.hide {
  display: none;
}

/* line 24, ../sass/main.scss */
h1, h2, h3, h4, p, li, a {
  margin: 0;
}

/* line 26, ../sass/main.scss */
body {
  margin: 0;
  padding: 1% 1% 4% 1%;
  background: #f0cc99 url(/images/wood.jpg);
  background-size: contain;
  font-family: "Questrial", Verdana, Arial, sans-serif;
  letter-spacing: 1px;
  color: #281b12;
}
/* line 35, ../sass/main.scss */
body h1, body h2, body h3 {
  font-family: "Rammetto One", cursive;
  color: #1b75bb;
}
/* line 39, ../sass/main.scss */
body h1 {
  color: rgba(27, 117, 187, 0.8);
}
/* line 40, ../sass/main.scss */
body h4 {
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: 700;
  color: #2b388f;
}
/* line 45, ../sass/main.scss */
body a, body a:visited {
  color: #2b388f;
}
/* line 46, ../sass/main.scss */
body a:hover {
  color: #55a7e7;
}
/* line 47, ../sass/main.scss */
body i {
  font-style: italic;
  font-weight: bold;
  margin: 0 4px;
}

/* line 50, ../sass/main.scss */
blockquote {
  margin: 20px;
  padding: 10px;
  text-align: center;
  background: rgba(246, 146, 30, 0.3);
  border: 2px solid #f6921e;
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: 400;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 61, ../sass/main.scss */
.instructions {
  background: rgba(130, 190, 237, 0.3);
  border: 2px solid rgba(27, 117, 187, 0.2);
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 20px 0;
}

/* line 69, ../sass/main.scss */
ul {
  list-style: none;
}

/* line 71, ../sass/main.scss */
a {
  padding: 2px 6px;
  text-decoration: none;
}

/* line 76, ../sass/main.scss */
.left, .right {
  background: url(/images/paper.png);
}
/* line 78, ../sass/main.scss */
.left img, .right img {
  border: 4px solid rgba(40, 27, 18, 0.3);
}

/* line 81, ../sass/main.scss */
.no-background {
  background: none;
}

/* line 83, ../sass/main.scss */
.left {
  text-align: right;
}

/* line 87, ../sass/main.scss */
.right {
  text-align: left;
}

/* line 93, ../sass/main.scss */
.chapter img {
  width: 90%;
  margin: 2% 5% 0 5%;
  border: none;
}

/* line 100, ../sass/main.scss */
.copyright {
  font-size: 10px;
  position: absolute;
  bottom: 20px;
  right: 30px;
  text-align: right;
}

/* line 107, ../sass/main.scss */
#rollover {
  cursor: pointer;
  width: 100px;
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 4px 2px;
  border: 1px solid #281b12;
  color: #281b12;
  background: rgba(146, 98, 65, 0.3);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 119, ../sass/main.scss */
img {
  max-width: 100%;
  max-height: 100%;
}

/* line 125, ../sass/main.scss */
.warning {
  font-style: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 50px 20% 0 20%;
  border: 2px solid #281b12;
  padding: 10px 20px;
}

/* line 134, ../sass/main.scss */
#desc {
  background: rgba(209, 135, 31, 0.3);
  border: 3px solid rgba(31, 20, 5, 0.2);
  width: 80%;
  margin: 0 auto;
  margin-top: 20%;
  padding: 20px 10px;
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: 500;
}
/* line 143, ../sass/main.scss */
#desc a {
  padding: 0;
}
/* line 144, ../sass/main.scss */
#desc .heading {
  width: 30%;
  display: inline-block;
  float: left;
  clear: both;
  font-weight: 600;
  margin: 2px 4px;
}
/* line 152, ../sass/main.scss */
#desc .item {
  display: inline-block;
  float: left;
  margin: 2px 2px 4px 2px;
}

/* line 165, ../sass/main.scss */
#tocText li {
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: 500;
  width: 100%;
  letter-spacing: 4px;
  text-align: right;
}
/* line 173, ../sass/main.scss */
#tocText a {
  padding: 4px 8px;
}
/* line 175, ../sass/main.scss */
#tocText a:hover {
  letter-spacing: 8px;
  font-weight: 700;
}

/* line 181, ../sass/main.scss */
#tocImages img {
  width: 100%;
  margin: 0 auto;
}

/* line 187, ../sass/main.scss */
nav {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
/* line 191, ../sass/main.scss */
nav p {
  width: 150px;
  display: inline-block;
}
/* line 195, ../sass/main.scss */
nav .nav-left {
  width: 40%;
  display: inline-block;
  float: right;
}
/* line 200, ../sass/main.scss */
nav .nav-right {
  width: 40%;
  display: inline-block;
  float: left;
}

/* line 211, ../sass/main.scss */
.booklet .b-wrap-left {
  background: url(/images/notebook-left.png);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}

/* line 220, ../sass/main.scss */
.booklet .b-wrap-right {
  background: url(/images/notebook-right.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

/* line 229, ../sass/main.scss */
.booklet .b-page-1 .b-wrap-right {
  background: url(/images/cover.png);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}

/* line 237, ../sass/main.scss */
.booklet .b-page-76 .b-wrap-left {
  background: url(/images/back-cover.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

/* line 245, ../sass/main.scss */
.booklet .b-page-0 .b-wrap-left, .booklet .b-page-77 .b-wrap-right {
  background: none;
}

/* line 249, ../sass/main.scss */
.booklet .b-page-3 .b-wrap-right {
  background: url(/images/toc/toc-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}

/* line 257, ../sass/main.scss */
.booklet .b-arrow-prev {
  left: -50px;
}

/* line 265, ../sass/main.scss */
p, li, h4 {
  font-size: 12px;
}

/* line 268, ../sass/main.scss */
.text-heavy p {
  font-size: 11px;
}

/* line 269, ../sass/main.scss */
p {
  margin: 0 0 10px 0;
}

/* line 270, ../sass/main.scss */
li {
  margin: 0 0 4px 0;
}

/* line 273, ../sass/main.scss */
ul.fg li {
  width: 60%;
  float: right;
  margin: 0 0 10px 0;
}
/* line 277, ../sass/main.scss */
ul.fg li p {
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: 600;
  margin: 0;
  color: #2b388f;
}

/* line 285, ../sass/main.scss */
nav {
  font-size: 16px;
}

/* line 287, ../sass/main.scss */
h3, h4 {
  font-size: 12px;
  margin: 0 0 10px 0;
}

/* line 291, ../sass/main.scss */
h2 {
  font-size: 14px;
  margin: 0 0 15px 0;
}

/* line 295, ../sass/main.scss */
h1 {
  font-size: 20px;
  margin: 0 0 20px 0;
}

/* line 299, ../sass/main.scss */
#desc p {
  font-size: 10px;
  letter-spacing: 0;
}

/* line 300, ../sass/main.scss */
#tocText li {
  font-size: 12px;
  margin: 0 0 6px 0;
}

/* line 307, ../sass/main.scss */
.left img, .right img {
  width: 80%;
  margin: 15px 0;
}
/* line 311, ../sass/main.scss */
.left .fit, .right .fit {
  width: 70%;
}
/* line 314, ../sass/main.scss */
.left .small, .right .small {
  width: 55%;
}

/* line 316, ../sass/main.scss */
.left {
  margin: 10px 30px 20px 10px;
}

/* line 320, ../sass/main.scss */
.right {
  margin: 10px 10px 20px 30px;
}

/* line 324, ../sass/main.scss */
#text-quote {
  font-size: 11px;
  text-align: left;
  margin: 30px 0 0 0;
}

/* line 330, ../sass/main.scss */
.words-list li {
  font-size: 14px;
  list-style: disc;
  margin-left: 30px;
}

/* line 337, ../sass/main.scss */
#back-cover {
  padding: 10px 20px 10px 10px;
  text-align: right;
}
/* line 340, ../sass/main.scss */
#back-cover h1 {
  font-size: 16px;
  margin: 0 0 30px 0;
}
/* line 344, ../sass/main.scss */
#back-cover p {
  margin: 0;
  color: #2b388f;
}
/* line 345, ../sass/main.scss */
#back-cover h4 {
  margin: 0;
  color: #f6921e;
}
/* line 349, ../sass/main.scss */
#back-cover blockquote.review {
  font-size: 11px;
  margin: 0 0 12px 0;
  padding: 2px 0 6px 0;
  text-align: right;
  border: none;
  background: none;
  font-style: italic;
}

@media (min-width: 1100px) {
  /* line 363, ../sass/main.scss */
  p, li, h4, .text-heavy {
    font-size: 15px;
  }

  /* line 366, ../sass/main.scss */
  h3, h4 {
    font-size: 15px;
  }

  /* line 369, ../sass/main.scss */
  h2 {
    font-size: 17px;
  }

  /* line 372, ../sass/main.scss */
  h1 {
    font-size: 23px;
  }

  /* line 375, ../sass/main.scss */
  p {
    margin: 0 0 16px 0;
  }

  /* line 376, ../sass/main.scss */
  #desc p {
    font-size: 13px;
    letter-spacing: 1px;
  }

  /* line 381, ../sass/main.scss */
  #tocText li {
    font-size: 15px;
  }

  /* line 384, ../sass/main.scss */
  #text-quote {
    font-size: 15px;
  }

  /* line 386, ../sass/main.scss */
  .words-list li {
    font-size: 17px;
  }

  /* line 391, ../sass/main.scss */
  #back-cover h1 {
    font-size: 19px;
  }
  /* line 394, ../sass/main.scss */
  #back-cover blockquote.review {
    font-size: 14px;
  }

  /* line 399, ../sass/main.scss */
  .copyright {
    font-size: 13px;
    bottom: 30px;
  }
}
@media (min-width: 1300px) {
  /* line 408, ../sass/main.scss */
  .text-heavy p {
    font-size: 15px;
  }

  /* line 410, ../sass/main.scss */
  .left {
    margin: 30px 50px 40px 20px;
  }

  /* line 414, ../sass/main.scss */
  .right {
    margin: 30px 20px 40px 50px;
  }

  /* line 418, ../sass/main.scss */
  #back-cover {
    padding: 30px 50px 40px 30px;
  }
  /* line 420, ../sass/main.scss */
  #back-cover blockquote.review {
    margin: 0 0 20px 0;
  }
  /* line 423, ../sass/main.scss */
  #back-cover .copyright {
    right: 60px;
  }
}
@media (min-width: 1400px) {
  /* line 430, ../sass/main.scss */
  p, li, h4 {
    font-size: 18px;
  }

  /* line 433, ../sass/main.scss */
  h3, h4 {
    font-size: 18px;
    margin: 0 0 16px 0;
  }

  /* line 437, ../sass/main.scss */
  h2 {
    font-size: 20px;
    margin: 0 0 20px 0;
  }

  /* line 441, ../sass/main.scss */
  h1 {
    font-size: 26px;
    margin: 0 0 20px 0;
  }

  /* line 445, ../sass/main.scss */
  p {
    margin: 0 0 16px 0;
  }

  /* line 446, ../sass/main.scss */
  #desc p {
    font-size: 16px;
    letter-spacing: 1px;
  }

  /* line 451, ../sass/main.scss */
  #tocText li {
    font-size: 18px;
  }

  /* line 454, ../sass/main.scss */
  #text-quote {
    font-size: 19px;
  }

  /* line 456, ../sass/main.scss */
  ul.fg li {
    margin: 0 0 20px 0;
  }

  /* line 461, ../sass/main.scss */
  .words-list li {
    font-size: 20px;
    margin-bottom: 10px;
  }

  /* line 467, ../sass/main.scss */
  #back-cover h1 {
    font-size: 22px;
  }
  /* line 470, ../sass/main.scss */
  #back-cover blockquote.review {
    font-size: 17px;
  }

  /* line 475, ../sass/main.scss */
  .copyright {
    font-size: 16px;
  }

  /* line 477, ../sass/main.scss */
  #rollover {
    width: 120px;
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
  /* line 487, ../sass/main.scss */
  p, li, h4 {
    font-size: 20px;
  }

  /* line 490, ../sass/main.scss */
  h3, h4 {
    font-size: 20px;
  }

  /* line 493, ../sass/main.scss */
  h2 {
    font-size: 22px;
  }

  /* line 496, ../sass/main.scss */
  h1 {
    font-size: 28px;
  }

  /* line 499, ../sass/main.scss */
  p {
    margin: 0 0 16px 0;
  }

  /* line 500, ../sass/main.scss */
  #desc p {
    font-size: 18px;
    letter-spacing: 1px;
  }

  /* line 505, ../sass/main.scss */
  #tocText li {
    font-size: 20px;
    margin: 0 0 16px 0;
  }

  /* line 509, ../sass/main.scss */
  .words-list li {
    font-size: 22px;
  }

  /* line 513, ../sass/main.scss */
  nav {
    font-size: 26px;
  }

  /* line 515, ../sass/main.scss */
  .copyright {
    font-size: 18px;
    bottom: 40px;
    right: 50px;
  }

  /* line 520, ../sass/main.scss */
  blockquote {
    font-size: 21px;
  }

  /* line 522, ../sass/main.scss */
  blockquote.review {
    font-size: 19px;
  }

  /* line 527, ../sass/main.scss */
  #back-cover h1 {
    font-size: 24px;
  }
  /* line 530, ../sass/main.scss */
  #back-cover h4 {
    margin: 50px 0 0 0;
  }
}
@media (min-width: 2000px) {
  /* line 541, ../sass/main.scss */
  p, li, h4 {
    font-size: 24px;
  }

  /* line 544, ../sass/main.scss */
  h3, h4 {
    font-size: 24px;
    margin: 0 0 30px 0;
  }

  /* line 548, ../sass/main.scss */
  h2 {
    font-size: 26px;
    margin: 0 0 40px 0;
  }

  /* line 552, ../sass/main.scss */
  h1 {
    font-size: 32px;
    margin: 0 0 50px 0;
  }

  /* line 556, ../sass/main.scss */
  p {
    margin: 0 0 30px 0;
  }

  /* line 557, ../sass/main.scss */
  #desc p {
    font-size: 22px;
    letter-spacing: 1px;
  }

  /* line 562, ../sass/main.scss */
  #tocText li {
    font-size: 24px;
  }

  /* line 568, ../sass/main.scss */
  #back-cover h1 {
    font-size: 28px;
  }
  /* line 571, ../sass/main.scss */
  #back-cover blockquote.review {
    font-size: 23px;
  }

  /* line 576, ../sass/main.scss */
  .copyright {
    font-size: 22px;
    bottom: 60px;
  }
}
/* line 583, ../sass/main.scss */
body.noPortfolio p, body.noPortfolio li, body.noPortfolio h4 {
  font-size: 16px;
}
/* line 586, ../sass/main.scss */
body.noPortfolio .text-heavy p, body.noPortfolio blockquote {
  font-size: 15px;
}
/* line 588, ../sass/main.scss */
body.noPortfolio nav {
  font-size: 20px;
}
/* line 590, ../sass/main.scss */
body.noPortfolio h3, body.noPortfolio h4 {
  font-size: 16px;
}
/* line 593, ../sass/main.scss */
body.noPortfolio h2 {
  font-size: 18px;
}
/* line 596, ../sass/main.scss */
body.noPortfolio h1 {
  font-size: 24px;
}
/* line 599, ../sass/main.scss */
body.noPortfolio .left, body.noPortfolio .right {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
/* line 604, ../sass/main.scss */
body.noPortfolio .copyright {
  position: relative;
  bottom: 0;
  right: 0;
}
