/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 22, ../sass/main.scss */
.hide {
  display: none;
}

/* line 24, ../sass/main.scss */
h1, h2, h3, h4, p, li, a {
  margin: 0;
}

/* line 26, ../sass/main.scss */
body {
  margin: 0;
  padding: 10px 20px 20px 20px;
  background: #f0cc99 url(/images/wood.jpg);
  background-size: contain;
  font-family: "Questrial", Verdana, Arial, sans-serif;
  letter-spacing: 1px;
  color: #281b12;
}
/* line 35, ../sass/main.scss */
body h1, body h2, body h3 {
  font-family: "Rammetto One", cursive;
  color: #1b75bb;
}
/* line 39, ../sass/main.scss */
body h1 {
  color: rgba(27, 117, 187, 0.8);
}
/* line 40, ../sass/main.scss */
body h4 {
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: 700;
  color: #2b388f;
}
/* line 45, ../sass/main.scss */
body a, body a:visited {
  color: #2b388f;
}
/* line 46, ../sass/main.scss */
body a:hover {
  color: #55a7e7;
}

/* line 49, ../sass/main.scss */
blockquote {
  margin: 20px;
  padding: 10px;
  text-align: center;
  background: rgba(246, 146, 30, 0.3);
  border: 2px solid #f6921e;
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: 400;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 60, ../sass/main.scss */
.instructions {
  background: rgba(130, 190, 237, 0.3);
  border: 2px solid rgba(27, 117, 187, 0.2);
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 20px 0;
}

/* line 68, ../sass/main.scss */
ul {
  list-style: none;
}

/* line 70, ../sass/main.scss */
a {
  padding: 2px 6px;
  text-decoration: none;
}

/* line 75, ../sass/main.scss */
.left, .right {
  background: url(/images/paper.png);
}
/* line 77, ../sass/main.scss */
.left img, .right img {
  border: 4px solid rgba(40, 27, 18, 0.3);
}

/* line 80, ../sass/main.scss */
.no-background {
  background: none;
}

/* line 82, ../sass/main.scss */
.left {
  text-align: right;
}

/* line 86, ../sass/main.scss */
.right {
  text-align: left;
}

/* line 92, ../sass/main.scss */
.chapter img {
  width: 90%;
  margin: 2% 5% 0 5%;
  border: none;
}

/* line 99, ../sass/main.scss */
.copyright {
  font-size: 10px;
  position: absolute;
  bottom: 20px;
}

/* line 104, ../sass/main.scss */
#rollover {
  cursor: pointer;
  width: 100px;
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 4px 2px;
  border: 1px solid #281b12;
  color: #281b12;
  background: rgba(146, 98, 65, 0.3);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 116, ../sass/main.scss */
img {
  max-width: 100%;
  max-height: 100%;
}

/* line 122, ../sass/main.scss */
.warning {
  font-style: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 50px 20% 0 20%;
  border: 2px solid #281b12;
  padding: 10px 20px;
}

/* line 131, ../sass/main.scss */
#desc {
  background: rgba(209, 135, 31, 0.3);
  border: 3px solid rgba(31, 20, 5, 0.2);
  width: 80%;
  margin: 0 auto;
  margin-top: 20%;
  padding: 20px 10px;
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: 500;
}
/* line 140, ../sass/main.scss */
#desc a {
  padding: 0;
}
/* line 141, ../sass/main.scss */
#desc .heading {
  width: 30%;
  display: inline-block;
  float: left;
  clear: both;
  font-weight: 600;
  margin: 2px 4px;
}
/* line 149, ../sass/main.scss */
#desc .item {
  display: inline-block;
  float: left;
  margin: 2px 2px 4px 2px;
}

/* line 162, ../sass/main.scss */
#tocText li {
  font-family: "Montserrat", Verdana, Arial, sans-serif;
  font-weight: 500;
  width: 100%;
  letter-spacing: 4px;
  text-align: right;
}
/* line 170, ../sass/main.scss */
#tocText a {
  padding: 4px 8px;
}
/* line 172, ../sass/main.scss */
#tocText a:hover {
  letter-spacing: 8px;
  font-weight: 700;
}

/* line 178, ../sass/main.scss */
#tocImages img {
  width: 100%;
  margin: 0 auto;
}

/* line 184, ../sass/main.scss */
nav {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
/* line 188, ../sass/main.scss */
nav p {
  width: 150px;
  display: inline-block;
}
/* line 192, ../sass/main.scss */
nav .nav-left {
  width: 40%;
  display: inline-block;
  float: right;
}
/* line 197, ../sass/main.scss */
nav .nav-right {
  width: 40%;
  display: inline-block;
  float: left;
}

/* line 208, ../sass/main.scss */
.booklet .b-wrap-left {
  background: url(/images/notebook-left.png);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}

/* line 217, ../sass/main.scss */
.booklet .b-wrap-right {
  background: url(/images/notebook-right.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

/* line 226, ../sass/main.scss */
.booklet .b-page-1 .b-wrap-right {
  background: url(/images/cover.png);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}

/* line 234, ../sass/main.scss */
.booklet .b-page-78 .b-wrap-left {
  background: url(/images/back-cover.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

/* line 242, ../sass/main.scss */
.booklet .b-page-0 .b-wrap-left, .booklet .b-page-79 .b-wrap-right {
  background: none;
}

/* line 246, ../sass/main.scss */
.booklet .b-page-3 .b-wrap-right {
  background: url(/images/toc/toc-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}

/* line 254, ../sass/main.scss */
.booklet .b-arrow-prev {
  left: -50px;
}

/* line 262, ../sass/main.scss */
p, li, h4 {
  font-size: 12px;
}

/* line 265, ../sass/main.scss */
p {
  margin: 0 0 10px 0;
}

/* line 266, ../sass/main.scss */
li {
  margin: 0 0 4px 0;
}

/* line 269, ../sass/main.scss */
ul.fg li {
  width: 60%;
  float: right;
  margin: 0 0 10px 0;
}
/* line 273, ../sass/main.scss */
ul.fg li p {
  margin: 0;
  color: #2b388f;
}

/* line 280, ../sass/main.scss */
h3, h4 {
  font-size: 12px;
  margin: 0 0 10px 0;
}

/* line 284, ../sass/main.scss */
h2 {
  font-size: 14px;
  margin: 0 0 15px 0;
}

/* line 288, ../sass/main.scss */
h1 {
  font-size: 20px;
  margin: 0 0 20px 0;
}

/* line 292, ../sass/main.scss */
#desc p {
  font-size: 10px;
  letter-spacing: 0;
}

/* line 293, ../sass/main.scss */
#tocText li {
  font-size: 12px;
  margin: 0 0 6px 0;
}

/* line 300, ../sass/main.scss */
.left img, .right img {
  width: 80%;
  margin: 15px 0;
}
/* line 304, ../sass/main.scss */
.left .fit, .right .fit {
  width: 70%;
}
/* line 307, ../sass/main.scss */
.left .small, .right .small {
  width: 55%;
}

/* line 309, ../sass/main.scss */
.left {
  margin: 10px 30px 20px 10px;
}

/* line 313, ../sass/main.scss */
.right {
  margin: 10px 10px 20px 30px;
}

/* line 317, ../sass/main.scss */
#text-quote {
  font-size: 11px;
  text-align: left;
  margin: 30px 0 0 0;
}

/* line 323, ../sass/main.scss */
.words-list li {
  font-size: 14px;
  list-style: disc;
  margin-left: 30px;
}

/* line 330, ../sass/main.scss */
#back-cover {
  padding: 10px 20px 10px 10px;
  text-align: right;
}
/* line 333, ../sass/main.scss */
#back-cover h1 {
  font-size: 16px;
  margin: 0 0 30px 0;
}
/* line 337, ../sass/main.scss */
#back-cover p {
  margin: 0;
  color: #2b388f;
}
/* line 338, ../sass/main.scss */
#back-cover h4 {
  margin: 0;
  color: #f6921e;
}
/* line 342, ../sass/main.scss */
#back-cover blockquote.review {
  font-size: 11px;
  margin: 0 0 12px 0;
  padding: 2px 0 6px 0;
  text-align: right;
  border: none;
  background: none;
  font-style: italic;
}

@media (min-width: 1100px) {
  /* line 356, ../sass/main.scss */
  p, li, h4 {
    font-size: 15px;
  }

  /* line 359, ../sass/main.scss */
  h3, h4 {
    font-size: 15px;
  }

  /* line 362, ../sass/main.scss */
  h2 {
    font-size: 17px;
  }

  /* line 365, ../sass/main.scss */
  h1 {
    font-size: 23px;
  }

  /* line 368, ../sass/main.scss */
  p {
    margin: 0 0 16px 0;
  }

  /* line 369, ../sass/main.scss */
  #desc p {
    font-size: 13px;
    letter-spacing: 1px;
  }

  /* line 374, ../sass/main.scss */
  #tocText li {
    font-size: 15px;
  }

  /* line 377, ../sass/main.scss */
  #text-quote {
    font-size: 15px;
  }

  /* line 379, ../sass/main.scss */
  .words-list li {
    font-size: 17px;
  }

  /* line 384, ../sass/main.scss */
  #back-cover h1 {
    font-size: 19px;
  }
  /* line 387, ../sass/main.scss */
  #back-cover blockquote.review {
    font-size: 14px;
  }

  /* line 392, ../sass/main.scss */
  .copyright {
    font-size: 13px;
  }
}
@media (min-width: 1300px) {
  /* line 397, ../sass/main.scss */
  .left {
    margin: 30px 50px 40px 20px;
  }

  /* line 401, ../sass/main.scss */
  .right {
    margin: 30px 20px 40px 50px;
  }

  /* line 405, ../sass/main.scss */
  #back-cover {
    padding: 30px 50px 40px 30px;
  }
  /* line 407, ../sass/main.scss */
  #back-cover blockquote.review {
    margin: 0 0 20px 0;
  }
}
@media (min-width: 1400px) {
  /* line 417, ../sass/main.scss */
  p, li, h4 {
    font-size: 18px;
  }

  /* line 420, ../sass/main.scss */
  h3, h4 {
    font-size: 18px;
    margin: 0 0 16px 0;
  }

  /* line 424, ../sass/main.scss */
  h2 {
    font-size: 20px;
    margin: 0 0 20px 0;
  }

  /* line 428, ../sass/main.scss */
  h1 {
    font-size: 26px;
    margin: 0 0 20px 0;
  }

  /* line 432, ../sass/main.scss */
  p {
    margin: 0 0 16px 0;
  }

  /* line 433, ../sass/main.scss */
  #desc p {
    font-size: 16px;
    letter-spacing: 1px;
  }

  /* line 438, ../sass/main.scss */
  #tocText li {
    font-size: 18px;
  }

  /* line 441, ../sass/main.scss */
  #text-quote {
    font-size: 19px;
  }

  /* line 444, ../sass/main.scss */
  ul.fg li {
    margin: 0 0 20px 0;
  }

  /* line 449, ../sass/main.scss */
  .words-list li {
    font-size: 20px;
    margin-bottom: 10px;
  }

  /* line 455, ../sass/main.scss */
  #back-cover h1 {
    font-size: 22px;
  }
  /* line 458, ../sass/main.scss */
  #back-cover blockquote.review {
    font-size: 17px;
  }

  /* line 463, ../sass/main.scss */
  .copyright {
    font-size: 16px;
  }

  /* line 465, ../sass/main.scss */
  #rollover {
    width: 120px;
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
  /* line 475, ../sass/main.scss */
  p, li, h4 {
    font-size: 20px;
  }

  /* line 478, ../sass/main.scss */
  h3, h4 {
    font-size: 20px;
  }

  /* line 481, ../sass/main.scss */
  h2 {
    font-size: 22px;
  }

  /* line 484, ../sass/main.scss */
  h1 {
    font-size: 28px;
  }

  /* line 487, ../sass/main.scss */
  p {
    margin: 0 0 16px 0;
  }

  /* line 488, ../sass/main.scss */
  #desc p {
    font-size: 18px;
    letter-spacing: 1px;
  }

  /* line 493, ../sass/main.scss */
  #tocText li {
    font-size: 20px;
  }

  /* line 496, ../sass/main.scss */
  .words-list li {
    font-size: 22px;
  }

  /* line 500, ../sass/main.scss */
  .copyright {
    font-size: 18px;
  }

  /* line 501, ../sass/main.scss */
  blockquote {
    font-size: 21px;
  }

  /* line 504, ../sass/main.scss */
  #back-cover h1 {
    font-size: 24px;
  }
  /* line 507, ../sass/main.scss */
  #back-cover blockquote.review {
    font-size: 19px;
  }
}
@media (min-width: 2000px) {
  /* line 518, ../sass/main.scss */
  p, li, h4 {
    font-size: 24px;
  }

  /* line 521, ../sass/main.scss */
  h3, h4 {
    font-size: 24px;
    margin: 0 0 30px 0;
  }

  /* line 525, ../sass/main.scss */
  h2 {
    font-size: 26px;
    margin: 0 0 40px 0;
  }

  /* line 529, ../sass/main.scss */
  h1 {
    font-size: 32px;
    margin: 0 0 50px 0;
  }

  /* line 533, ../sass/main.scss */
  p {
    margin: 0 0 30px 0;
  }

  /* line 534, ../sass/main.scss */
  #desc p {
    font-size: 22px;
    letter-spacing: 1px;
  }

  /* line 539, ../sass/main.scss */
  #tocText li {
    font-size: 24px;
  }

  /* line 545, ../sass/main.scss */
  #back-cover h1 {
    font-size: 28px;
  }
  /* line 548, ../sass/main.scss */
  #back-cover blockquote.review {
    font-size: 23px;
  }

  /* line 553, ../sass/main.scss */
  .copyright {
    font-size: 22px;
  }
}
