/* line 2, ../sass/toc.scss */
#tocText a {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  background: yellow;
}

/* line 11, ../sass/toc.scss */
#tocImages img {
  max-width: 100%;
}

/* line 17, ../sass/toc.scss */
.booklet .b-page-3 {
  background: url(background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 18, ../sass/toc.scss */
.booklet .b-page-3 .b-wrap-right {
  background: none;
  padding: 5-px;
}
