/* line 2, ../sass/toc.scss */
#tocText a {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  background: yellow;
}

/* line 11, ../sass/toc.scss */
#tocImages img {
  max-width: 100%;
  overflow: visible;
}
