/* line 2, ../sass/toc.scss */
#tocText a {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  background: yellow;
}

/* line 11, ../sass/toc.scss */
#tocImages img {
  max-width: 102%;
  overflow: visible;
}

/*
.booklet .b-wrap-right {
  background:url(background.jpg) 100% 100%;
}
*/
