/* 

####################################################### 
For new CSS3 elements that don't yet validate correctly
because they are still in development
####################################################### 

*/
/* Hoot colors from Kuler */
/* RGB 93 166 158 */
/* RGB 167 204 200 */
/* RGB 242 135 5 */
/* RGB 242 242 242 */
/* RGB 38 38 38 */
/* RGB 102 102 102  */
/* Generic references used in the other files */
/* line 14, ../sass/css3.scss */
#homePage img, header, .page {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* line 18, ../sass/css3.scss */
a:hover, #galleries li :hover, header {
  text: #262626;
  text-shadow: 4px 4px 8px #262626;
  filter: dropshadow(color=#262626, offx=4, offy=4);
  border: none;
}
