/* 

####################################################### 
For new CSS3 elements that don't yet validate correctly
because they are still in development
####################################################### 

*/
/* Hoot colors */
/* RGB 93 166 158 */
/* RGB 176 217 213 */
/* RGB 242 135 5 */
/* RGB 242 242 242 */
/* RGB 38 38 38 */
/* very light grey - almost white */
/* dark grey */
/* slightly darker grey */
/* medium grey */
/* line 14, ../sass/css3.scss */
#homePage img, header, #page, nav#lib li a, nav#photo li a {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* line 19, ../sass/css3.scss */
#homePage #photo a:hover, #homePage #galleries li :hover {
  text: #424242;
  text-shadow: 4px 4px 8px #424242;
  filter: dropshadow(color=#424242, offx=4, offy=4);
}
/* line 25, ../sass/css3.scss */
#homePage #lib a:hover {
  text: #424242;
  text-shadow: 4px 4px 8px #424242;
  filter: dropshadow(color=#424242, offx=4, offy=4);
}

/* line 32, ../sass/css3.scss */
footer a:hover {
  text: #424242;
  text-shadow: 4px 4px 8px #424242;
  filter: dropshadow(color=#424242, offx=4, offy=4);
}
