/* 

####################################################### 
For new CSS3 elements that don't yet validate correctly
because they are still in development
####################################################### 

*/
/* Freshly colors */
/* RGB 47 41 51 */
/* RGB 0 153 166 */
/* RGB 53 217 180 */
/* RGB  189 242 113 */
/* RGB  248 222 255 */
/* Generic references used in the other files */
/* line 14, ../sass/css3.scss */
#homePage img, header, .page {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* line 18, ../sass/css3.scss */
a:hover, #galleries li :hover, header {
  text: #2f2933;
  text-shadow: 4px 4px 8px #2f2933;
  filter: dropshadow(color=#2f2933, offx=4, offy=4);
  border: none;
}
