/* don't need when merge into other file */
/* line 5, ../sass/nav.scss */
#photoNav.navList, #libNav.navList, #mainNav.navList {
  display: none;
}

/* change to mobile nav */
/* line 7, ../sass/nav.scss */
nav select {
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0 0 22px 20%;
}

@media screen and (min-width: 1008px) {
  /* *****   Check out right after section or orig file  -- extra brace? */
  /* change to desktop nav */
  /* line 20, ../sass/nav.scss */
  nav select {
    display: none;
  }

  /* line 22, ../sass/nav.scss */
  nav {
    /* change later, obvs. */
    width: 876px;
    /* using fixed width because it stretches too much otherwise */
    margin: 0 auto;
  }
  /* line 23, ../sass/nav.scss */
  nav .activeMain {
    color: blue;
  }
  /* line 24, ../sass/nav.scss */
  nav .activeSub a {
    color: red;
  }
  /* line 27, ../sass/nav.scss */
  nav li {
    cursor: pointer;
  }

  /* line 31, ../sass/nav.scss */
  #mainNav.navList {
    display: block;
    float: left;
    margin-top: 22px;
  }
  /* line 35, ../sass/nav.scss */
  #mainNav.navList li {
    clear: both;
    font-size: 16px;
    margin: 0 20px 0 0;
    /*20/876*/
  }
  /* line 40, ../sass/nav.scss */
  #mainNav.navList li:last-child {
    margin-bottom: 44px;
  }

  /* line 43, ../sass/nav.scss */
  #resume #libNav.navList, #portfolio #libNav.navList, #lab #libNav.navList, #contactLib #libNav.navList {
    display: inline-block;
  }

  /* line 46, ../sass/nav.scss */
  #about #photoNav.navList, #pricing #photoNav.navList, #art #photoNav.navList, #portraits #photoNav.navList, #events #photoNav.navList, #travel #photoNav.navList, #contactPhoto #photoNav.navList {
    display: inline-block;
  }

  /* line 49, ../sass/nav.scss */
  #photoNav, #libNav {
    width: 748px;
    float: right;
  }
  /* line 52, ../sass/nav.scss */
  #photoNav li, #libNav li {
    text-align: center;
    width: 106px;
    float: left;
  }

  /* line 60, ../sass/nav.scss */
  #photoNav li {
    margin: 22px 0 0 0;
  }

  /* line 66, ../sass/nav.scss */
  #libNav li {
    margin: 44px 13% 0 0;
  }
  /* line 69, ../sass/nav.scss */
  #libNav li:last-child {
    margin: 44px 0 0 0;
  }
}
/* *** end min-width: 1008 *** */
