/* don't need when merge into other file */
/* line 5, ../sass/nav.scss */
#photoNav.navList, #libNav.navList, #mainNav.navList {
  display: none;
}

/* change to mobile nav */
/* line 7, ../sass/nav.scss */
nav select {
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0 0 22px 20%;
}

@media screen and (min-width: 1008px) {
  /* *****   Check out right after section or orig file  -- extra brace? */
  /* change to desktop nav */
  /* line 21, ../sass/nav.scss */
  nav select {
    display: none;
  }

  /* line 22, ../sass/nav.scss */
  #mainNav.navList {
    display: block;
    margin-top: 22px;
  }
  /* line 25, ../sass/nav.scss */
  #mainNav.navList li {
    width: 12.32876712328767%;
    /* 108 / 876 */
    background: yellow;
    clear: both;
    margin: 0 2.5% 0 0;
    /*20/876*/
  }
  /* line 31, ../sass/nav.scss */
  #mainNav.navList li:last-child {
    margin-bottom: 44px;
  }

  /* line 34, ../sass/nav.scss */
  #resume #libNav.navList, #portfolio #libNav.navList, #lab #libNav.navList, #contactLib #libNav.navList {
    display: inline;
  }

  /* line 37, ../sass/nav.scss */
  #about #photoNav.navList, #pricing #photoNav.navList, #art #photoNav.navList, #portraits #photoNav.navList, #events #photoNav.navList, #travel #photoNav.navList, #contactPhoto #photoNav.navList {
    display: inline;
  }

  /* line 41, ../sass/nav.scss */
  .navList li {
    width: 10%;
    font-size: 16px;
    float: left;
    cursor: pointer;
    margin: 0;
  }

  /* line 50, ../sass/nav.scss */
  #photoNav li, #libNav li {
    width: 10%;
    font-size: 14px;
    text-align: center;
    margin: 0 2% 0 0;
  }
  /* line 56, ../sass/nav.scss */
  #photoNav li:last-child, #libNav li:last-child {
    margin-right: 0;
  }

  /* line 58, ../sass/nav.scss */
  #libNav li {
    margin-right: 12%;
  }

  /* line 62, ../sass/nav.scss */
  nav {
    /* change later, obvs. */
    width: 89.57055214723926%;
    /* 876 / 978 */
    margin: 0 0 0 6.5439672801636%;
  }
  /* line 63, ../sass/nav.scss */
  nav .activeMain {
    color: blue;
  }
  /* line 64, ../sass/nav.scss */
  nav .activeSub a {
    color: red;
  }
}
/* *** end min-width: 1008 *** */
