/* don't need when merge into otnerh file */
/* line 5, ../sass/nav.scss */
#photoNav.navList, #libNav.navList, #mainNav.navList {
  display: none;
}

/* change to mobile nav */
/* line 7, ../sass/nav.scss */
nav select {
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0 0 22px 20%;
}

@media screen and (min-width: 1008px) {
  /* *****   Check out right after section or orig file  -- extra brace? */
  /* change to desktop nav */
  /* line 21, ../sass/nav.scss */
  nav select {
    display: none;
  }

  /* line 22, ../sass/nav.scss */
  #mainNav.navList {
    display: inline;
  }

  /* line 24, ../sass/nav.scss */
  #resume #libNav.navList, #portfolio #libNav.navList, #lab #libNav.navList, #contactLib #libNav.navList {
    display: inline;
  }

  /* line 27, ../sass/nav.scss */
  #about #photoNav.navList, #pricing #photoNav.navList, #art #photoNav.navList, #portraits #photoNav.navList, #events #photoNav.navList, #travel #photoNav.navList, #contactPhoto #photoNav.navList {
    display: inline;
  }

  /* line 32, ../sass/nav.scss */
  .navList li {
    width: 108px;
    /* don't bother w responsive here */
    font-size: 16px;
    float: left;
    cursor: pointer;
    margin: 0;
  }
  /* line 39, ../sass/nav.scss */
  .navList li:last-child {
    margin-left: 20px;
  }

  /* line 41, ../sass/nav.scss */
  #photoNav, #libNav {
    position: absolute;
    margin: 22px 0 22px -260px;
  }
  /* line 44, ../sass/nav.scss */
  #photoNav li, #libNav li {
    width: 108px;
    /* don't bother w responsive here */
    font-size: 14px;
    margin: 0 20px 0 0;
    text-align: center;
  }

  /* line 51, ../sass/nav.scss */
  #libNav {
    margin-left: -200px;
    /* left margin to keep from interfering with photo nav and no JS */
  }

  /* line 55, ../sass/nav.scss */
  nav {
    /* change later, obvs. */
  }
  /* line 56, ../sass/nav.scss */
  nav .activeMain {
    color: blue;
  }
  /* line 57, ../sass/nav.scss */
  nav .activeSub a {
    color: red;
  }
}
/* *** end min-width: 1008 *** */
