/* line 17, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 

####################################################### 
################# Start of my CSS #####################
####################################################### 

*/
/* line 20, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* for responsive images */
/* line 23, ../sass/_base.scss */
#content {
  margin: 0px auto;
}

/* line 27, ../sass/_base.scss */
.accessibility, .hideForm, .hidden {
  display: none;
}

/* line 49, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6, li a p {
  font-family: "Michroma", Verdana, Arial, sans-serif;
}

/* line 53, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

/* line 57, ../sass/_base.scss */
html #page p, ul li {
  font-family: "Questrial", Verdana, Arial, sans-serif;
}

/* line 61, ../sass/_base.scss */
a {
  text-decoration: none;
  /*Lose underlining on links to make grid easier to see*/
}

/* line 65, ../sass/_base.scss */
nav {
  font-family: "Questrial", Verdana, Arial, sans-serif;
}

/* line 70, ../sass/_base.scss */
#homePage img, header {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/*
########################################
########### For Baselind Grid ##########
########################################
*/
/* line 80, ../sass/_base.scss */
.t22 {
  font-size: 14px;
  line-height: 22px;
  background-image: url("img/22px-baseline.png");
}

/* line 88, ../sass/_base.scss */
.g978 #page {
  width: 300px;
  /*Total width works out to 312px*/
  padding: 0px 6px 0px 6px;
  background-image: url("img/300px-6-27-6-8c.png");
}
