/* line 17, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* may need to move this to css3 file */
/* Sounds of Sax colors from colorlouvers*/
/* Generic references used in the other files */
/*
########################################
########### For Baselind Grid #########
########################################
*/
/* from baseline grid .t22 class */
/* line 19, ../sass/_base.scss */
body {
  font-size: 14px;
  line-height: 22px;
}

/* hide mobile nav at first */
/* line 27, ../sass/_base.scss */
nav select {
  display: none;
}

/* 

####################################################### 
################# Start of my CSS #####################
####################################################### 

*/
/* line 41, ../sass/_base.scss */
img {
  max-width: 100%;
  max-height: 100%;
}

/* for responsive images */
/* line 44, ../sass/_base.scss */
#content {
  margin: 0px auto;
}

/* line 67, ../sass/_base.scss */
ul.print {
  /* these are applied for both print and no JS */
}
/* line 68, ../sass/_base.scss */
ul.print li {
  float: left;
  margin-left: 20px;
}
/* line 71, ../sass/_base.scss */
ul.print li p {
  margin: 22px 0 0 0;
}
/* line 73, ../sass/_base.scss */
ul.print img {
  max-width: 500px !important;
}

/* line 78, ../sass/_base.scss */
ul.print {
  display: block;
  /* show to IE */
  color: yellow;
}

/* line 83, ../sass/_base.scss */
h1, h2, h3, li a p {
  font-family: "Michroma", Verdana, Arial, sans-serif;
}

/* line 87, ../sass/_base.scss */
h1, h2, h3, h4 {
  font-weight: 900;
}

/* line 91, ../sass/_base.scss */
h5, h6 {
  font-weight: 500;
}

/* line 96, ../sass/_base.scss */
p, ul li, h4, h5, h6 {
  font-family: "Questrial", Verdana, Arial, sans-serif;
}

/* line 100, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6, section, footer {
  clear: both;
  margin: 22px 0;
}

/* line 105, ../sass/_base.scss */
h1 {
  font-size: 20px;
}

/* line 109, ../sass/_base.scss */
h2 {
  font-size: 18px;
}

/* line 113, ../sass/_base.scss */
h3 {
  font-size: 16px;
}

/* line 117, ../sass/_base.scss */
h4 {
  font-size: 14px;
}

/* line 122, ../sass/_base.scss */
a {
  text-decoration: none;
  /*Lose underlining on links to make grid easier to see*/
}

/* line 126, ../sass/_base.scss */
nav {
  font-family: "Questrial", Verdana, Arial, sans-serif;
}

/* line 130, ../sass/_base.scss */
.hide {
  display: none !important;
}

/* line 131, ../sass/_base.scss */
.showInline {
  display: inline;
}

/* line 132, ../sass/_base.scss */
.showBlock {
  display: block;
}

/* line 133, ../sass/_base.scss */
.showInlineBlock {
  display: inline-block;
}

/* line 135, ../sass/_base.scss */
.floatRight {
  float: right;
}

/* line 139, ../sass/_base.scss */
.floatLeft {
  float: left;
}

/* line 143, ../sass/_base.scss */
.clear {
  clear: both;
}

/* line 3, ../sass/print.scss */
nav, footer {
  display: none;
}

/* line 7, ../sass/print.scss */
#homePage nav {
  display: block;
}

/* line 11, ../sass/print.scss */
a:link, a:visited {
  color: #000;
  text-decoration: underline;
}

/* use no JS ul list to display as print */
/* line 17, ../sass/print.scss */
ul.print.hide, ul.print {
  display: block !important;
}

/* hide photoswipe objects */
/* line 22, ../sass/print.scss */
#gallery1, #gallery2, #gallery3, #gallery4, div.carousel, div.ps-uilayer, div.ps-document-overlay, div.ps-toolbar, div.ps.caption {
  display: none !important;
}
