/* line 17, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 

####################################################### 
################# Start of my CSS #####################
####################################################### 

*/
/* line 20, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* for responsive images */
/* line 22, ../sass/_base.scss */
footer {
  clear: both;
  margin: 88px 0 0 0;
}
/* line 26, ../sass/_base.scss */
footer img {
  max-width: 18px !important;
  margin: 0 2px -5px 5px;
}
/* line 31, ../sass/_base.scss */
footer p {
  display: inline;
  font-family: "Questrial", Verdana, Arial, sans-serif;
  font-size: 12px;
}
/* line 37, ../sass/_base.scss */
footer p.copyright {
  float: right;
}

/* line 43, ../sass/_base.scss */
#content {
  margin: 0px auto;
}

/* line 47, ../sass/_base.scss */
.accessibility, .hideForm, .hidden {
  display: none;
}

/* line 51, ../sass/_base.scss */
.clear {
  clear: both;
}

/* line 56, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6, li a p {
  font-family: "Michroma", Verdana, Arial, sans-serif;
}

/* line 60, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

/* line 64, ../sass/_base.scss */
html #page p {
  font-family: "Questrial", Verdana, Arial, sans-serif;
}

/* line 68, ../sass/_base.scss */
a {
  text-decoration: none;
  /*Lose underlining on links to make grid easier to see*/
}

/*
########################################
########### For Baselind Grid ##########
########################################
*/
/* line 79, ../sass/_base.scss */
.t22 {
  font-size: 14px;
  line-height: 22px;
  background-image: url("img/22px-baseline.png");
}

/* line 87, ../sass/_base.scss */
.g978 #page {
  width: 300px;
  /*Total width works out to 312px*/
  padding: 0px 6px 0px 6px;
  background-image: url("img/300px-6-27-6-8c.png");
}

@media screen and (min-width: 760px) {
  /* line 95, ../sass/_base.scss */
  .g978 #page {
    width: 748px;
    /*Total width works out to 768px*/
    padding: 0px 10px 0px 10px;
    background-image: url("img/748px-10-44-10-12c.png");
  }
}
@media screen and (min-width: 1010px) {
  /* line 105, ../sass/_base.scss */
  #homePage header {
    clear: both;
    position: absolute;
    width: 978px;
    margin: 264px 0 0 0;
    padding: 19px 0;
    background-color: yellow;
  }

  /* line 114, ../sass/_base.scss */
  header h1 {
    font-size: 44px;
    display: inline;
    float: left;
    letter-spacing: 6px;
  }

  /* line 121, ../sass/_base.scss */
  p {
    font-size: 14px;
  }

  /* line 125, ../sass/_base.scss */
  header p {
    font-size: 12px;
    display: inline;
    float: right;
    margin: 6px 0 0 0;
  }

  /* line 132, ../sass/_base.scss */
  #homePage h2 {
    font-size: 30px;
    letter-spacing: 4px;
    margin: 0 0 14px 0;
    display: inline;
    float: left;
  }

  /* line 140, ../sass/_base.scss */
  #homePage h2#libHeader {
    letter-spacing: 5px;
    float: right;
    text-align: right;
    margin: 108px 0 0 0;
  }

  /* line 147, ../sass/_base.scss */
  .g978 #page {
    width: 978px;
    /*Total with works out to 1008*/
    padding: 0px 15px 0px 15px;
    background-image: url("img/978px-15-54-15-12c.png");
    margin: 0 auto;
  }

  /* line 154, ../sass/_base.scss */
  #homePage nav#galleries ul {
    float: left;
  }

  /* line 158, ../sass/_base.scss */
  #homePage nav#galleries ul li {
    display: inline;
    float: left;
    margin: 0 0 0 30px;
  }

  /* line 164, ../sass/_base.scss */
  p#photoIntro {
    margin: 0 0 0 336px;
  }

  /* line 168, ../sass/_base.scss */
  nav a, nav p {
    width: 138px;
    font-size: 18px;
    letter-spacing: 2px;
  }

  /* line 174, ../sass/_base.scss */
  #homePage img {
    width: 138px;
  }

  /* line 177, ../sass/_base.scss */
  #homePage #galleries img {
    margin-bottom: 8px;
  }

  /* line 181, ../sass/_base.scss */
  #homePage nav#photo {
    float: left;
    margin: -196px 0 0 0;
    border-left: 2px solid black;
  }

  /* line 187, ../sass/_base.scss */
  #homePage nav#photo ul li, #homePage nav#lib ul li {
    margin: 0 8px;
  }

  /* line 191, ../sass/_base.scss */
  #homePage #libFigure {
    margin: 112px 0 0 0;
  }

  /* line 195, ../sass/_base.scss */
  #homePage #libIntro {
    width: 558px;
    margin: -98px 0 0 168px;
  }

  /* line 200, ../sass/_base.scss */
  #homePage nav#lib {
    float: right;
    margin: -66px 0 22px 0;
    text-align: right;
    border-right: 2px solid black;
  }
}
/* end min-width: 1010px */
