/* line 17, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 

####################################################### 
################# Start of my CSS #####################
####################################################### 

*/
/* line 20, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* for responsive images */
/* line 23, ../sass/_base.scss */
#content {
  margin: 0px auto;
}

/* line 27, ../sass/_base.scss */
.accessibility, .hideForm, .hidden {
  display: none;
}

/* line 49, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6, li a p {
  font-family: "Michroma", Verdana, Arial, sans-serif;
}

/* line 53, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

/* line 57, ../sass/_base.scss */
html #page p, ul li {
  font-family: "Questrial", Verdana, Arial, sans-serif;
}

/* line 61, ../sass/_base.scss */
a {
  text-decoration: none;
  /*Lose underlining on links to make grid easier to see*/
}

/* line 65, ../sass/_base.scss */
nav {
  font-family: "Questrial", Verdana, Arial, sans-serif;
}

/* line 70, ../sass/_base.scss */
#homePage img, header {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/*
########################################
########### For Baselind Grid ##########
########################################
*/
/* line 80, ../sass/_base.scss */
.t22 {
  font-size: 14px;
  line-height: 22px;
  background-image: url("img/22px-baseline.png");
}

/* line 88, ../sass/_base.scss */
.g978 #page {
  width: 300px;
  /*Total width works out to 312px*/
  padding: 0px 6px 0px 6px;
  background-image: url("img/300px-6-27-6-8c.png");
}

/* line 3, ../sass/screen.scss */
body {
  margin: 44px 0 0 0;
}

@media screen and (min-width: 760px) {
  /* line 8, ../sass/screen.scss */
  .g978 #page {
    width: 748px;
    /*Total width works out to 768px*/
    padding: 0px 10px 0px 10px;
    background-image: url("img/748px-10-44-10-12c.png");
  }
}
@media screen and (min-width: 1010px) {
  /* line 18, ../sass/screen.scss */
  .g978 #page {
    width: 978px;
    /*Total with works out to 1008*/
    padding: 22px 15px 22px 15px;
    /* added 22px to each for background (change 15 to 37 later after grid is gone)*/
    background-image: url("img/978px-15-54-15-12c.png");
    margin: 0 auto;
  }

  /* line 25, ../sass/screen.scss */
  #homePage {
    /* end header */
    /* end footer*/
  }
  /* line 27, ../sass/screen.scss */
  #homePage header {
    clear: both;
    position: absolute;
    width: 978px;
    margin: 264px 0 0 0;
    padding: 19px 0;
    background-color: yellow;
  }
  /* line 35, ../sass/screen.scss */
  #homePage header h1 {
    font-size: 44px;
    display: inline;
    float: left;
    letter-spacing: 6px;
  }
  /* line 41, ../sass/screen.scss */
  #homePage header p {
    font-size: 12px;
    display: inline;
    float: right;
    margin: 6px 0 0 0;
  }
  /* line 49, ../sass/screen.scss */
  #homePage h2 {
    font-size: 30px;
    letter-spacing: 4px;
    margin: 0 0 14px 0;
    display: inline;
    float: left;
  }
  /* line 57, ../sass/screen.scss */
  #homePage h2#libHeader {
    letter-spacing: 5px;
    float: right;
    text-align: right;
    margin: 108px 0 0 0;
  }
  /* line 64, ../sass/screen.scss */
  #homePage p {
    font-size: 14px;
  }
  /* line 68, ../sass/screen.scss */
  #homePage p#photoIntro {
    margin: 0 0 0 336px;
  }
  /* line 72, ../sass/screen.scss */
  #homePage img {
    width: 138px;
  }
  /* line 77, ../sass/screen.scss */
  #homePage #galleries ul li {
    display: inline;
    float: left;
    margin: 0 0 0 30px;
  }
  /* line 83, ../sass/screen.scss */
  #homePage #galleries img {
    margin-bottom: 8px;
  }
  /* line 88, ../sass/screen.scss */
  #homePage #libFigure {
    margin: 112px 0 0 0;
  }
  /* line 92, ../sass/screen.scss */
  #homePage #libIntro {
    width: 558px;
    margin: -98px 0 0 168px;
  }
  /* line 97, ../sass/screen.scss */
  #homePage footer {
    clear: both;
    margin: 88px 0 0 0;
  }
  /* line 101, ../sass/screen.scss */
  #homePage footer img {
    max-width: 18px !important;
    margin: 0 2px -5px 5px;
  }
  /* line 106, ../sass/screen.scss */
  #homePage footer p {
    display: inline;
    font-family: "Questrial", Verdana, Arial, sans-serif;
    font-size: 12px;
  }
  /* line 112, ../sass/screen.scss */
  #homePage footer p.copyright {
    float: right;
  }

  /* end homePage*/
  /* line 122, ../sass/screen.scss */
  nav, #galleries p {
    font-size: 16px;
  }
  /* line 124, ../sass/screen.scss */
  nav a, #galleries p a {
    width: 138px;
    letter-spacing: 2px;
  }

  /* line 130, ../sass/screen.scss */
  nav#photo {
    float: left;
    margin: -196px 0 0 0;
    border-left: 2px solid black;
  }
  /* line 135, ../sass/screen.scss */
  nav#photo ul li {
    margin: 0 8px;
  }

  /* line 140, ../sass/screen.scss */
  #homePage nav#lib {
    float: right;
    margin: -68px 0 22px 0;
    text-align: right;
    border-right: 2px solid black;
  }
  /* line 145, ../sass/screen.scss */
  #homePage nav#lib ul li {
    margin: 0 8px;
  }
}
/* end min-width: 1010px */
