/* line 17, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../RailsInstaller/Ruby1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* may need to move this to css3 file */
/* 

####################################################### 
################# Start of my CSS #####################
####################################################### 

*/
/* PhotoSwipe settings */
/* line 16, ../sass/_base.scss */
#gallery1, #gallery2, #gallery3, #gallery4, #gallery5, #gallery6 {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

/* line 17, ../sass/_base.scss */
#Indicators {
  text-align: center;
  margin-top: 20px;
}

/* line 18, ../sass/_base.scss */
#Indicators span {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 10px 0 0;
  padding: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #c5c5c5;
  overflow: hidden;
}

/* line 19, ../sass/_base.scss */
#Indicators span.current {
  background: #EEBF02;
}

/* very light grey - almost white */
/* dark grey */
/* slightly darker grey */
/* medium grey */
/* line 27, ../sass/_base.scss */
img {
  max-width: 100%;
  max-height: 100%;
}

/* for responsive images */
/* line 30, ../sass/_base.scss */
#content {
  margin: 0px auto;
}

/* line 34, ../sass/_base.scss */
.accessibility, .hideForm, .hidden {
  display: none;
}

/* line 56, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6, li a p {
  font-family: "Michroma", Verdana, Arial, sans-serif;
}

/* line 60, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

/* line 64, ../sass/_base.scss */
p, ul li {
  font-family: "Questrial", Verdana, Arial, sans-serif;
}

/* line 68, ../sass/_base.scss */
a {
  text-decoration: none;
  /*Lose underlining on links to make grid easier to see*/
}

/* line 72, ../sass/_base.scss */
nav {
  font-family: "Questrial", Verdana, Arial, sans-serif;
}

/* line 76, ../sass/_base.scss */
.hide {
  display: none;
}

/* line 78, ../sass/_base.scss */
.floatRight {
  float: right;
}

/* line 82, ../sass/_base.scss */
.floatLeft {
  float: left;
}

/* line 86, ../sass/_base.scss */
.clear {
  clear: both;
}

/*
########################################
########### For Baselind Grid ##########
########################################
*/
/* line 58, ../sass/_base.scss */
/* line 95, ../sass/_base.scss */
.t22 {
  font-size: 14px;
  line-height: 22px;
  background-image: url("img/22px-baseline.png");
}

/* line 66, ../sass/_base.scss */
/* line 102, ../sass/_base.scss */
.g978 #page {
  width: 300px;
  /*Total width works out to 312px*/
  padding: 0px 6px 0px 6px;
  background-image: url("img/300px-6-27-6-8c.png");
}

/* from baseline grid .t22 class */
/* line 115, ../sass/_base.scss */
body {
  font-size: 14px;
  line-height: 22px;
}

/* hide mobile nav at first */
/* line 123, ../sass/_base.scss */
nav select {
  display: none;
}

/* line 4, ../sass/screen.scss */
body, a {
  color: #424242;
}

/* line 8, ../sass/screen.scss */
a:hover {
  font-weight: 900;
}

/*   ************ MOBILE ***********     */
@media screen and (max-width: 1008px) {
  /* line 15, ../sass/screen.scss */
  #photoNav.navList, #libNav.navList, #mainNav.navList {
    display: none !important;
  }

  /* line 16, ../sass/screen.scss */
  nav select {
    display: inline-block;
    float: left;
    width: 25%;
    margin: 0 0 22px 20%;
  }
}
/* change to mobile nav */
/* line 26, ../sass/screen.scss */
.page {
  width: 90%;
  margin: 0 auto;
  padding: 20px 10px;
}

/* line 32, ../sass/screen.scss */
header, #homePage h2, #homePage h3 {
  clear: both;
  text-align: center;
}
/* line 35, ../sass/screen.scss */
header a, #homePage h2 a, #homePage h3 a {
  color: #FFF;
}
/* line 38, ../sass/screen.scss */
header a:hover, #homePage h2 a:hover, #homePage h3 a:hover {
  font-weight: normal;
}

/* line 42, ../sass/screen.scss */
h1 {
  clear: both;
  font-size: 20px;
  margin: 22px 0 22px 0;
}

/* line 48, ../sass/screen.scss */
header p {
  font-size: 12px;
  margin: 0 0 34px 0;
}

/* line 53, ../sass/screen.scss */
h2 {
  clear: both;
  font-size: 16px;
  margin: 22px 0 0 0;
}

/* line 61, ../sass/screen.scss */
#galleries ul li {
  font-size: 12px;
  width: 20%;
  margin: 0 0 0 6%;
  float: left;
  text-align: center;
}
/* line 69, ../sass/screen.scss */
#galleries ul li:first-child {
  margin: 0;
}

/* line 75, ../sass/screen.scss */
#photoIntro {
  clear: both;
  margin: 134px 0 22px 0;
}

/* line 80, ../sass/screen.scss */
nav#photo, nav#lib {
  clear: both;
}
/* line 82, ../sass/screen.scss */
nav#photo li, nav#lib li {
  font-size: 14px;
  float: left;
  width: 30%;
  margin: 0 0 44px 5%;
  text-align: center;
}
/* line 88, ../sass/screen.scss */
nav#photo li a, nav#lib li a {
  padding: 6px 12px;
  background: #ccc;
}
/* line 93, ../sass/screen.scss */
nav#photo li:first-child, nav#lib li:first-child {
  margin: 0;
}

/* line 99, ../sass/screen.scss */
nav#lib li {
  font-size: 11px;
  width: 20%;
  margin: 0 0 44px 6%;
}
/* line 103, ../sass/screen.scss */
nav#lib li a {
  padding: 6px 8px;
}
/* line 107, ../sass/screen.scss */
nav#lib li:first-child {
  margin: 0;
}

/* line 111, ../sass/screen.scss */
#libFigure {
  width: 20%;
  margin: 0 6% 0 0;
  float: left;
}

/* line 117, ../sass/screen.scss */
#libIntro {
  margin: 0 0 44px 0;
}

/* line 123, ../sass/screen.scss */
#about p.floatLeft, #art p.floatLeft {
  /* 870 / 978 = 88.9570552147239% */
  width: 65.6441717791411%;
  margin: 22px 4% 44px 0;
}
/* line 128, ../sass/screen.scss */
#about p.floatLeft + p.floatLeft, #art p.floatLeft + p.floatLeft {
  margin-top: -22px;
}
/* line 131, ../sass/screen.scss */
#about img.floatLeft, #art img.floatLeft {
  /* 222 / 978*/
  width: 22.6993865030675%;
  margin: 0 0 0 2%;
}
/* line 137, ../sass/screen.scss */
#about p.floatLeft + p.floatLeft + img, #art p.floatLeft + p.floatLeft + img {
  margin-top: -198px;
}

/* line 143, ../sass/screen.scss */
#art h2 {
  margin: 22px 2.045% 22px 6.544%;
}
/* line 147, ../sass/screen.scss */
#art .three {
  margin-left: 06.5439672801636%;
}
/* line 150, ../sass/screen.scss */
#art h3 {
  display: inline-block;
  float: left;
}
/* line 154, ../sass/screen.scss */
#art h4 {
  display: inline-block;
  float: left;
  font-weight: normal;
  font-size: 13px;
  margin-left: 2%;
}
/* line 162, ../sass/screen.scss */
#art h4 + p {
  clear: both;
}

/* line 167, ../sass/screen.scss */
footer {
  clear: both;
}
/* line 169, ../sass/screen.scss */
footer p {
  display: block;
  text-align: center;
}

@media screen and (min-width: 760px) {
  /* line 178, ../sass/screen.scss */
  .page {
    width: 748px;
    /*Total width works out to 768px*/
    /* for columns */
    padding: 0px 10px 0px 10px;
    background-image: url("img/748px-10-44-10-12c.png");
  }

  /* line 186, ../sass/screen.scss */
  #about p.floatLeft {
    margin: 22px 8.589% 44px 0;
  }

  /* line 193, ../sass/screen.scss */
  section H1.top, #contact section {
    margin-top: 88px;
  }

  /* line 198, ../sass/screen.scss */
  #portfolio nav + p {
    clear: both;
    margin-top: 88px;
  }
  /* line 202, ../sass/screen.scss */
  #portfolio section H1:first-child {
    margin-top: 44px;
  }

  /* line 205, ../sass/screen.scss */
  .column {
    float: left;
  }

  /* line 209, ../sass/screen.scss */
  ul.twoColumnBlock li {
    width: 43.76278118609407%;
    float: left;
    margin: 0 8.589% 22px 0;
    /*  20/978  64/978*/
  }
  /* line 214, ../sass/screen.scss */
  ul.twoColumnBlock li h2 {
    margin-top: 0;
  }
  /* line 219, ../sass/screen.scss */
  ul.twoColumnBlock li:nth-child(2n+2) {
    margin-right: 0;
  }

  /* line 224, ../sass/screen.scss */
  .three {
    width: 24.13087934560327%;
    /*236/978*/
    margin: 0 2.045% 22px 0;
    /*  20/978  64/978*/
  }
}
@media screen and (min-width: 1008px) {
  /* change to desktop nav */
  /* line 234, ../sass/screen.scss */
  nav select {
    display: none;
  }

  /* line 236, ../sass/screen.scss */
  .showNav {
    display: inline;
  }

  /* line 237, ../sass/screen.scss */
  .hideNav {
    display: none;
  }

  /* line 239, ../sass/screen.scss */
  body {
    margin: 44px 0 0 0;
    /*    background:  $backgroundLight url('/img/scrollLight.png');  */
  }

  /* line 244, ../sass/screen.scss */
  .navList li {
    width: 108px;
    /* don't bother w responsive here */
    font-size: 16px;
    float: left;
    cursor: pointer;
    margin: 0;
  }
  /* line 251, ../sass/screen.scss */
  .navList li:last-child {
    margin-left: 20px;
  }

  /* line 253, ../sass/screen.scss */
  #photoNav, #libNav {
    position: absolute;
    top: 154px;
    /* change this to column later */
  }
  /* line 256, ../sass/screen.scss */
  #photoNav li, #libNav li {
    width: 108px;
    /* don't bother w responsive here */
    font-size: 14px;
    margin: 0 20px 0 0;
    text-align: center;
  }
  /* line 262, ../sass/screen.scss */
  #photoNav li:last-child, #libNav li:last-child {
    margin-left: 0;
  }

  /* line 264, ../sass/screen.scss */
  #libNav {
    top: 154px;
    /* don't have overlap in case JS is turned off */
    margin: 0 0 22px 60px;
    /* left margin to keep from interfering with photo nav and no JS */
  }

  /* line 269, ../sass/screen.scss */
  nav {
    /* change later, obvs. */
  }
  /* line 270, ../sass/screen.scss */
  nav .activeMain {
    color: blue;
  }
  /* line 271, ../sass/screen.scss */
  nav .activeSub a {
    color: yellow;
  }

  /* line 274, ../sass/screen.scss */
  .page {
    width: 978px;
    /*Total with works out to 1008, but need more for padding*/
    /*		background: #fff; */
    /*		width: 86%; */
    padding: 22px 10px 22px 10px;
    /* pad more right and left later */
    /* end header */
  }
  /* line 280, ../sass/screen.scss */
  .page header {
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    /*width: 978px; */
    background: #4d4d4d url("/img/scrollDark.png");
    color: #fff;
  }
  /* line 288, ../sass/screen.scss */
  .page header h1 {
    font-size: 37.4px;
    display: inline;
    float: left;
    letter-spacing: 4px;
    /*margin: 0 0 0 54px;*/
    margin: 0 0 0 2%;
    padding: 20px 0 24px 0;
  }
  /* line 298, ../sass/screen.scss */
  .page header p {
    display: inline;
    float: right;
    font-size: 12px;
    margin: 24px 2% 0 0;
  }
  /* line 306, ../sass/screen.scss */
  .page nav#main {
    clear: both;
  }
  /* line 311, ../sass/screen.scss */
  .page section {
    margin: 44px 0 0 0;
  }

  /* line 318, ../sass/screen.scss */
  #homePage {
    /* end header */
    /* end galleries */
  }
  /* line 320, ../sass/screen.scss */
  #homePage header {
    width: 86%;
    position: absolute;
    margin: 264px 0 0 0;
  }
  /* line 327, ../sass/screen.scss */
  #homePage h2 {
    /*width: 306px / 978px;*/
    width: 31.28834355828221%;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 0 0 22px 0;
    display: inline;
    float: left;
    text-align: left;
  }
  /* line 338, ../sass/screen.scss */
  #homePage p {
    font-size: 14px;
  }
  /* line 341, ../sass/screen.scss */
  #homePage p#photoIntro {
    clear: both;
    /*margin: 0 0 0 336px;*/
    margin: 176px 0 0 34.3558282208589%;
  }
  /* line 348, ../sass/screen.scss */
  #homePage #photoHeader {
    margin: -2px 0 0 0;
  }
  /* line 351, ../sass/screen.scss */
  #homePage #libHeader {
    position: absolute;
    letter-spacing: 5px;
    float: right;
    text-align: right;
    /* margin: 132px 37px 0 0; 
    margin: 0 3.67063492063492% 0 0;  top works better with absolute */
    top: 438px;
    right: 7%;
  }
  /* line 364, ../sass/screen.scss */
  #homePage #galleries ul li {
    /*width: 138px;*/
    width: 14.11042944785276%;
    display: inline;
    float: left;
    /*margin: 0 0 2px 30px;*/
    margin: 0 0 2px 3.06748466257669%;
  }
  /* line 374, ../sass/screen.scss */
  #homePage #galleries img {
    margin-bottom: 8px;
  }
  /* line 379, ../sass/screen.scss */
  #homePage #libFigure {
    clear: both;
    /*width: 138px; */
    width: 14.11042944785276%;
    margin: 150px 0 0 0;
  }
  /* line 386, ../sass/screen.scss */
  #homePage p#libIntro {
    /*width: 558px;*/
    width: 57.05521472392638%;
    /*margin: -100px 0 0 168px;*/
    margin: 198px 0 0 17.178%;
  }
  /* line 395, ../sass/screen.scss */
  #homePage nav li p, #homePage nav li a, #homePage #galleries p, #homePage #galleries a {
    font-size: 16px;
    letter-spacing: 2px;
    background: none;
  }
  /* line 402, ../sass/screen.scss */
  #homePage nav#photo {
    position: absolute;
    top: 110px;
    width: 14.11042944785276%;
    border-left: 2px solid #adadad;
  }
  /* line 408, ../sass/screen.scss */
  #homePage nav#photo ul li {
    margin: 0 8px;
    /*width: 138px;*/
    clear: both;
  }
  /* line 416, ../sass/screen.scss */
  #homePage nav#lib {
    position: absolute;
    right: 7%;
    text-align: right;
    top: 484px;
    border-right: 2px solid #adadad;
  }
  /* line 422, ../sass/screen.scss */
  #homePage nav#lib ul li {
    width: 90%;
    margin: 0 8px;
    clear: both;
    text-align: right;
  }

  /* end homePage*/
  /* line 434, ../sass/screen.scss */
  footer {
    clear: both;
    margin: 44px 0 0 0;
  }
  /* line 437, ../sass/screen.scss */
  footer p {
    width: 40%;
    display: inline;
    font-family: "Questrial", Verdana, Arial, sans-serif;
    font-size: 12px;
  }
  /* line 442, ../sass/screen.scss */
  footer p a {
    font-weight: 900;
  }
  /* line 445, ../sass/screen.scss */
  footer p.copyright {
    width: 40%;
    /* width keeps this line from popping down */
    display: inline;
    float: right;
    text-align: right;
  }

  /* end footer*/
}
/* *** end min-width: 1008 *** */
/* Since using absolute positioning, handle those elements as screen width grows */
@media screen and (min-width: 1100px) {
  /* line 464, ../sass/screen.scss */
  header h1 {
    font-size: 44px;
    margin: 0 0 0 4%;
  }
  /* line 468, ../sass/screen.scss */
  header p {
    margin: 24px 4% 0 0;
  }

  /* line 475, ../sass/screen.scss */
  #homePage header {
    margin: 286px 0 0 0;
  }
  /* line 478, ../sass/screen.scss */
  #homePage #libIntro {
    margin: -114px 0 0 17.178%;
  }
  /* line 482, ../sass/screen.scss */
  #homePage footer {
    margin: 66px 0 0 0;
  }
}
@media screen and (min-width: 1238px) {
  /* where photoIntro goes to two lines */
  /* line 491, ../sass/screen.scss */
  #homePage p#photoIntro {
    margin: 198px 0 0 34.3558282208589%;
  }
  /* line 495, ../sass/screen.scss */
  #homePage #libIntro {
    margin: -106px 0 0 17.178%;
  }
  /* line 498, ../sass/screen.scss */
  #homePage footer {
    margin: 88px 0 0 0;
  }
}
@media screen and (min-width: 1300px) {
  /* line 509, ../sass/screen.scss */
  #homePage #libIntro {
    margin: -118px 0 0 17.178%;
  }
  /* line 512, ../sass/screen.scss */
  #homePage #libHeader {
    top: 460px;
  }
  /* line 515, ../sass/screen.scss */
  #homePage nav#lib {
    top: 506px;
  }
}
@media screen and (min-width: 1400px) {
  /* line 524, ../sass/screen.scss */
  header p {
    font-size: 14px;
    margin: 22px 4% 0 0;
  }

  /* line 532, ../sass/screen.scss */
  #homePage header {
    margin: 308px 0 0 0;
  }
  /* line 535, ../sass/screen.scss */
  #homePage #libHeader {
    top: 482px;
  }
  /* line 538, ../sass/screen.scss */
  #homePage nav#lib {
    top: 528px;
  }
  /* line 541, ../sass/screen.scss */
  #homePage footer {
    margin: 110px 0 0 0;
  }
}
