/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Color palette: http://www.colourlovers.com/palette/1635872/the_library_beckons
$grey:  #969990;
$cream: #BAB49E;
$black: darken($grey, 40%);
$blue: #6A7E7F;
$red: #AF4A50;
$burgundy: #945858;

$buttonLight: $red;
$buttonDark: $burgundy;
$rowColor: lighten($cream, 10%);


body{
  background:$blue;
  color: $black;
}

div.container-fluid{
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  background: $grey;
}

.list-group-item{
    margin-bottom: 10px;
}

h2.name-header {margin:20px 0 10px 0;}
.row {
    margin: 20px 0;
    padding: 10px;
    background: $rowColor;
}
p.btn-custom, p.btn:hover, p.btn:focus{color:white;}

.btn-custom {
  width: 120px;
  margin: 4px;
  background-color: $buttonLight;
  border-color: $buttonDark;
  padding: 4px 6px;
}

.survey {
  background-color: darken($blue,15%);
  border-color: darken($blue,25%);    
}